In [1]:
# Tratamiento de datos
import pandas as pd
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
# Configuración
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
#importar la biblioteca de numpy:
import numpy as np
import os
import sys #permite navegar por el sistema
sys.path.append("../") #solo aplica al soporte
import src.soporte_EDA as se


pd.options.display.float_format = '{:.2f}'.format # para redondearlo todo a 2 decimales

In [2]:
os.listdir('../datos/raw/')

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv',
 'diccionario_datos.csv']

In [3]:
lista_archivos = os.listdir('../datos/raw/')[:-1]
lista_archivos

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv']

In [4]:
diccionario = se.carga_ficheros_csv('raw',lista_archivos)

In [5]:

df_datos_2016 = diccionario['df_2016']

# Anális datos año 2016

In [6]:
se.traducción_columnas(df_datos_2016)

In [7]:
df_datos_2016

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ENCARGOS LEGAIS PELA INSCR.EM DIV.ATIVA-PRINC,"0,00","0,00","154948,98","0,00",04/04/2016,2016
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ONUS DE SUCUMBENCIA-MULTAS E JUROS,"0,00","0,00","80,84","0,00",08/12/2016,2016
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","4996,11","0,00",22/08/2016,2016
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA DE CONTROLE E FISC.AMBIENTAL-MUL.JUR.,"0,00","0,00","0,77","0,00",21/03/2016,2016
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ONUS DE SUCUMBENCIA-MULTAS E JUROS,"0,00","0,00","23,45","0,00",04/11/2016,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194528,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","39661,00","0,00",11/01/2016,2016
194529,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","41879432,00","0,00","0,00","0,00",21/01/2016,2016
194530,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","12303,00","0,00",20/01/2016,2016
194531,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.,"0,00","0,00","11,17","0,00",26/02/2016,2016
194532,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.,"0,00","0,00","5412,24","0,00",13/01/2016,2016

In [8]:
se.reporte(df_datos_2016)

La tabla tiene 194533 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,194533,0,0.00,25,194508
NOMBRE_ÓRGANO_SUPERIOR,object,194533,0,0.00,25,194508
CÓDIGO_ÓRGANO,int64,194533,0,0.00,270,194263
NOMBRE_ÓRGANO,object,194533,0,0.00,269,194264
CÓDIGO_UNIDAD_GESTORA,int64,194533,0,0.00,296,194237
NOMBRE_UNIDAD_GESTORA,object,194533,0,0.00,293,194240
CATEGORÍA_ECONÓMICA,object,194533,0,0.00,4,194529
ORIGEN_INGRESO,object,194533,0,0.00,14,194519
TIPO_INGRESO,object,194533,0,0.00,44,194489
DETALLE,object,194533,0,0.00,525,194008
VALOR_PREVISTO_ACTUALIZADO,object,194533,0,0.00,1835,192698
VALOR_REGISTRADO,object,194533,0,0.00,1003,193530
VALOR_REALIZADO,object,194533,0,0.00,129122,65411
PORCENTAJE_REALIZADO,object,194533,0,0.00,29,194504
FECHA_REGISTRO,object,194451,82,0.04,360,194172
AÑO_EJERCICIO,int64,194533,0,0.00,1,194532

In [9]:
se.conversion_columnas(df_datos_2016)

La tabla tiene 194533 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,194533,0,0.00,25,194508
NOMBRE_ÓRGANO_SUPERIOR,object,194533,0,0.00,25,194508
CÓDIGO_ÓRGANO,object,194533,0,0.00,270,194263
NOMBRE_ÓRGANO,object,194533,0,0.00,269,194264
CÓDIGO_UNIDAD_GESTORA,object,194533,0,0.00,296,194237
NOMBRE_UNIDAD_GESTORA,object,194533,0,0.00,293,194240
CATEGORÍA_ECONÓMICA,object,194533,0,0.00,4,194529
ORIGEN_INGRESO,object,194533,0,0.00,14,194519
TIPO_INGRESO,object,194533,0,0.00,44,194489
DETALLE,object,194533,0,0.00,525,194008
VALOR_PREVISTO_ACTUALIZADO,float64,194533,0,0.00,1835,192698
VALOR_REGISTRADO,float64,194533,0,0.00,1003,193530
VALOR_REALIZADO,float64,194533,0,0.00,129122,65411
PORCENTAJE_REALIZADO,float64,194533,0,0.00,29,194504
FECHA_REGISTRO,datetime64[ns],194451,82,0.04,360,194172
AÑO_EJERCICIO,int64,194533,0,0.00,1,194532

In [10]:
se.analisis_descriptivos_categóricas(df_datos_2016)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
87159,26000,Ministério da Educação,26247,Universidade Federal de Santa Maria,153164,UNIVERSIDADE FEDERAL DE SANTA MARIA,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS E ARRENDAMENTOS-PRINCIPAL
99726,26000,Ministério da Educação,26278,Fundação Universidade Federal de Pelotas,154047,FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.
25822,52000,Ministério da Defesa,52132,Comando da Marinha - Fundo Naval,673001,DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM,Receitas Correntes,Contribuições,Contribuições econômicas,COTA-PARTE DO AFRMM-PRINCIPAL
19478,52000,Ministério da Defesa,52911,Fundo Aeronáutico,121002,SECRETARIA DE ECON. E FIN.DA AER.- F.AER.,Receitas Correntes,Receita de Serviços,Outros serviços,OUTROS SERVICOS-PRINCIPAL
182900,44000,Ministério do Meio Ambiente,44206,Instituto de Pesquisas Jardim Botânico do Rio ...,443019,COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,194533,25,26000,71840
NOMBRE_ÓRGANO_SUPERIOR,194533,25,Ministério da Educação,71840
CÓDIGO_ÓRGANO,194533,270,25000,13749
NOMBRE_ÓRGANO,194533,269,Ministério da Economia - Unidades com vínculo ...,13749
CÓDIGO_UNIDAD_GESTORA,194533,296,170013,11126
NOMBRE_UNIDAD_GESTORA,194533,293,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,11126
CATEGORÍA_ECONÓMICA,194533,4,Receitas Correntes,186687
ORIGEN_INGRESO,194533,14,Outras Receitas Correntes,70647
TIPO_INGRESO,194533,44,Serviços Administrativos e Comerciais Gerais,54941
DETALLE,194533,525,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,30237

In [11]:
se.analisis_descriptivos_numéricas(df_datos_2016)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
127517,0.00,0.00,31965.19,0.00,2016-05-30,2016
113438,0.00,0.00,268723.44,0.00,2016-08-18,2016
72957,0.00,0.00,205.46,0.00,2016-06-21,2016
127808,0.00,0.00,7759.36,0.00,2016-02-12,2016
58083,0.00,0.00,1086967.40,0.00,2016-03-31,2016

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,194533.00,15178382.32,0.00,0.00,0.00,0.00,883028610465.00,2369675090.79
VALOR_REGISTRADO,194533.00,1675542.08,-54211937114.78,0.00,0.00,0.00,93962415840.26,438666130.99
VALOR_REALIZADO,194533.00,14597582.84,-156285934188.03,200.00,2064.00,27498.81,199853249683.03,880776162.79
PORCENTAJE_REALIZADO,194533.00,0.01,-8.00,0.00,0.00,0.00,385.00,1.23
FECHA_REGISTRO,194451,2016-06-29 04:03:52.605643520,2016-01-01 00:00:00,2016-03-30 00:00:00,2016-06-29 00:00:00,2016-09-29 00:00:00,2016-12-31 00:00:00,NaN
AÑO_EJERCICIO,194533.00,2016.00,2016.00,2016.00,2016.00,2016.00,2016.00,0.00

# Análisis columnas de forma individual
## Año 2016

In [12]:
for columna in df_datos_2016.columns:
    print(se.analisis_individual_columnas(df_datos_2016, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '58000', '33000', '36000',
       '41000', '57000', '35000', '32000', '49000', '53000', '51000',
       '44000', '38000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   71840                36.93
25000                   30019                15.43
52000                   17742                 9.12
22000                    9321                 4.79
30000                    7551                 3.88
39000                    7188                 3.70
36000                    7082                 3.64
53000                    6912                 3.55
41000                    6338                 3.26
32000                    6098                 3.13

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
20000                    1471                 0.76
35000                     857                 0.44
38000                     561                 0.29
49000                     425                 0.22
58000                     345                 0.18
57000                     207                 0.11
81000                     145                 0.07
37000                     121                 0.06
33000                      62                 0.03
51000                      49                 0.03

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
71840      1          4.00
30019      1          4.00
17742      1          4.00
9321       1          4.00
7551       1          4.00
7188       1          4.00
7082       1          4.00
6912       1          4.00
6338       1          4.00
6098       1          4.00
5933       1          4.00
5626       1          4.00
4721       1          4.00
2003       1          4.00
1916       1          4.00
1471       1          4.00
857        1          4.00
561        1          4.00
425        1          4.00
345        1          4.00
207        1          4.00
145        1          4.00
121        1          4.00
62         1          4.00
49         1          4.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Pesca e Aquicultura',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Agrário',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Trabalho e Emprego',
       'Ministério do Turismo', 'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         71840                36.93
Ministério da Economia                         30019                15.43
Ministério da Defesa                           17742                 9.12
Ministério da Agricultura, Pecuária e Abastec   9321                 4.79
Ministério da Justiça e Segurança Pública       7551                 3.88
Ministério da Infraestrutura                    7188                 3.70
Ministério da Saúde                             7082                 3.64
Ministério do Desenvolvimento Regional          6912                 3.55
Ministério das Comunicações                     6338                 3.26
Ministério de Minas e Energia                   6098                 3.13

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Presidência da República                        1471                 0.76
Ministério das Relações Exteriores               857                 0.44
Ministério do Trabalho e Emprego                 561                 0.29
Ministério do Desenvolvimento Agrário            425                 0.22
Ministério da Pesca e Aquicultura                345                 0.18
Ministério das Mulheres, Igualdade Racial, da    207                 0.11
Ministério da Mulher, Família e Direitos Huma    145                 0.07
Controladoria-Geral da União                     121                 0.06
Ministério da Previdência Social                  62                 0.03
Ministério do Esporte                             49                 0.03

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
71840      1          4.00
30019      1          4.00
17742      1          4.00
9321       1          4.00
7551       1          4.00
7188       1          4.00
7082       1          4.00
6912       1          4.00
6338       1          4.00
6098       1          4.00
5933       1          4.00
5626       1          4.00
4721       1          4.00
2003       1          4.00
1916       1          4.00
1471       1          4.00
857        1          4.00
561        1          4.00
425        1          4.00
345        1          4.00
207        1          4.00
145        1          4.00
121        1          4.00
62         1          4.00
49         1          4.00

None
La categoría CÓDIGO_ÓRGANO tiene 270 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '66000', '22202', '22000', '22201', '22211', '44208',
       '22905', '49001', '55001', '55000', '24901', '20301', '20402',
       '24000', '20501', '49280', '24209', '20502', '52904', '52000',
       '52911', '52132', '52133', '52131', '52111', '52221', '52121',
       '52211', '31280', '52233', '52222', '25201', '30203', '25000',
       '25207', '25916', '37904', '20924', '37202', '38901', '25203',
       '25205', '28500', '25211', '22500', '61201', '25905', '25904',
       '71902', '20603', '20202', '25915', '25901', '30204', '37201',
       '90000', '33206', '25914', '25208', '26243', '26294', '26412',
       '26238', '26242', '26271', '26241', '26443', '26246', '26263',
       '26424', '26234', '26236', '26410', '26277', '26298', '26245',
       '26426', '26406', '26244', '26268', '26411', '26350', '26276',
       '26421', '26284', '26233', '26447', '26413', '26442', '26408',
       '26441', '26260', '26420', '26352', '26250', '26270', '26402',
       '26255', '26273', '26416', '26247', '26254', '26232', '26448',
       '26431', '26283', '26249', '26434', '26433', '26239', '26419',
       '26404', '26291', '26405', '26439', '26278', '26450', '26258',
       '26248', '26279', '26436', '26440', '26201', '26257', '26262',
       '26237', '26403', '26292', '26407', '26264', '26261', '26275',
       '26230', '26267', '26415', '26428', '26274', '26269', '26285',
       '26266', '26231', '26435', '26418', '26438', '26240', '26423',
       '26251', '26449', '26252', '26256', '26272', '26351', '26282',
       '26409', '26417', '26432', '26281', '26290', '26429', '26235',
       '26427', '26422', '26280', '26000', '26437', '26253', '26430',
       '26414', '26286', '26425', '39250', '56901', '62201', '39252',
       '29209', '39815', '39811', '68000', '39816', '68201', '39813',
       '39253', '49901', '39814', '39000', '62901', '39812', '39817',
       '62000', '30907', '30912', '30108', '30911', '30211', '30905',
       '30202', '30205', '30000', '30802', '20122', '58000', '33000',
       '36211', '36000', '36213', '36201', '36210', '36212', '41231',
       '41903', '41232', '41000', '20415', '64901', '64902', '35201',
       '35000', '32205', '32314', '32263', '29208', '32210', '32000',
       '20302', '20303', '49000', '22204', '53901', '22203', '74918',
       '53203', '29214', '53902', '74919', '53000', '44205', '53903',
       '53202', '53207', '74917', '29205', '56902', '91214', '44207',
       '20701', '44206', '44204', '44000', '44902', '38000', '34902',
       '54901', '20404', '20203', '20408', '42207', '20411', '20604',
       '54000', '20412', '20403', '20101', '20116', '64000', '67000',
       '60000', '20117', '24208', '69000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          13749                 7.07
52904           4468                 2.30
52132           3510                 1.80
34902           3087                 1.59
22202           2739                 1.41
20701           2372                 1.22
41232           2335                 1.20
41231           2323                 1.19
52911           2259                 1.16
36000           2191                 1.13

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
69000             16                 0.01
52233             15                 0.01
32314             14                 0.01
74919             13                 0.01
44902             13                 0.01
39814              9                 0.00
90000              8                 0.00
39815              6                 0.00
60000              5                 0.00
20117              2                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
26         4          1.48
432        3          1.11
209        3          1.11
451        3          1.11
131        3          1.11
...      ...           ...
9          1          0.37
8          1          0.37
6          1          0.37
5          1          0.37
2          1          0.37

[237 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 269 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Companhia Nacional de Abastecimento',
       'Serviço Florestal Brasileiro',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Fundo Nacional de Assistência Social',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Comissão Nacional de Energia Nuclear',
       'Agência Espacial Brasileira',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Empresa Brasileira de Correios e Telégrafos',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Financiadora de Estudos e Projetos', 'Fundo do Exército',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundo Aeronáutico', 'Comando da Marinha - Fundo Naval',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Comando da Marinha', 'Comando da Aeronáutica',
       'Indústria de Material Bélico do Brasil', 'Comando do Exército',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Amazônia Azul Tecnologia de Defesa S.A.', 'Fundação Osório',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Ministério da Economia - Unidades com vínculo direto',
       'Serviço Federal de Processamento de Dados',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Fundo do Regime Geral da Previdência Social',
       'Fundo Nacional de Desenvolvimento',
       'Instituto Nacional do Seguro Social',
       'Fundo de Amparo ao Trabalhador',
       'Comissão de Valores Mobiliários',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Casa da Moeda do Brasil',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Estabilidade do Seguro Rural',
       'Fundo Soberano do Brasil',
       'Superintendência da Zona Franca de Manaus',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Compensação de Variações Salariais',
       'Instituto Nacional da Propriedade Industrial',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Reserva de Contingência',
       'Superintendência Nacional de Previdência Complementar',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Universidade Federal do Rio Grande do Norte',
       'Hospital de Clínicas de Porto Alegre',
       'Instituto Federal do Sul de Minas Gerais',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal de Pernambuco',
       'Fundação Universidade de Brasília',
       'Universidade Federal do Paraná',
       'Empresa Brasileira de Serviços Hospitalares',
       'Universidade Federal de Santa Catarina',
       'Universidade Federal de Lavras', 'Instituto Federal do Tocantins',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal Fluminense',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Ouro Preto',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Universidade Federal do Rio de Janeiro',
       'Instituto Federal do Amapá',
       'Instituto Federal do Espírito Santo',
       'Universidade Federal do Rio Grande do Sul',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade Federal da Grande Dourados',
       'Fundação Universidade Federal do Mato Grosso',
       'Instituto Federal de Rondônia',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade Federal do Ceará',
       'Universidade Federal do Oeste da Bahia',
       'Instituto Federal do Triângulo Mineiro',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Maranhão',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal de Alfenas', 'Instituto Federal Farroupilha',
       'Fundação Universidade Federal do ABC',
       'Universidade Federal de Roraima',
       'Fundação Universidade do Amazonas',
       'Instituto Federal de Alagoas',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Universidade Federal do Rio Grande', 'Instituto Federal do Pará',
       'Universidade Federal de Santa Maria',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal da Bahia',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Instituto Federal do Piauí',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Fluminense',
       'Instituto Federal do Rio de Janeiro',
       'Universidade Federal do Pará',
       'Instituto Federal do Rio Grande do Sul',
       'Instituto Federal Baiano',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal do Ceará', 'Instituto Federal de São Paulo',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Sul da Bahia',
       'Universidade Tecnológica Federal do Paraná',
       'Universidade Federal Rural de Pernambuco',
       'Fundação Universidade Federal do Piauí',
       'Instituto Federal Sul-rio-grandense',
       'Universidade Federal da Fronteira Sul', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de São Paulo',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal do Amazonas', 'Fundação Joaquim Nabuco',
       'Instituto Federal Goiano',
       'Universidade Federal Rural do Semi-Árido',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Acre',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal da Integração Latino-Americana',
       'Instituto Federal do Mato Grosso do Sul',
       'Instituto Federal de Brasília',
       'Fundação Universidade Federal de Uberlândia',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal de São João Del-Rei',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Alagoas',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal de Pernambuco',
       'Instituto Federal de Santa Catarina',
       'Universidade Federal da Paraíba', 'Instituto Federal de Sergipe',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Cariri',
       'Universidade Federal de Campina Grande',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Fundação Universidade do Maranhão',
       'Universidade Federal do Recôncavo da Bahia',
       'Universidade Federal de Viçosa',
       'Instituto Federal de Minas Gerais',
       'Instituto Federal da Paraíba', 'Instituto Federal do Paraná',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal de Goiás', 'Instituto Federal da Bahia',
       'Instituto Federal Catarinense',
       'Fundação Universidade Federal de São Carlos',
       'Ministério da Educação - Unidades com vínculo direto',
       'Instituto Federal de Roraima',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal do Sertão de Pernambuco',
       'Instituto Federal do Mato Grosso',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Acre',
       'Agência Nacional de Transportes Terrestres',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Agência Nacional de Aviação Civil',
       'Departamento Nacional de Infraestrutura de Transportes',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Companhia Docas do Rio Grande do Norte',
       'Companhia Docas do Rio de Janeiro', 'Secretaria de Portos',
       'Companhia Docas do Estado de São Paulo',
       'Agência Nacional de Transportes Aquaviários',
       'Companhia Docas do Ceará',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento do Fundo da Marinha Mercante',
       'Companhia Docas do Pará',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Fundo Nacional de Aviação Civil',
       'Companhia Docas do Estado da Bahia',
       'Companhia Docas do Espírito Santo', 'Secretaria de Aviação Civil',
       'Fundo Penitenciário Nacional', 'Fundo Nacional Antidrogas',
       'Departamento de Polícia Federal',
       'Fundo Nacional de Segurança Pública',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundação Nacional do Índio',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Rodoviária Federal',
       'Secretaria Nacional de Políticas para Mulheres',
       'Ministério da Pesca e Aquicultura - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Fundação Nacional de Saúde',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Saúde Suplementar', 'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agência Nacional de Vigilância Sanitária',
       'Agêncial Nacional de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'Empresa Brasil de Comunicação',
       'Fundo Nacional para a Criança e o Adolescente',
       'Fundo Nacional do Idoso', 'Fundação Alexandre de Gusmão',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Empresa de Pesquisa Energética',
       'Departamento Nacional de Produção Mineral',
       'Companhia de Pesquisa de Recursos Minerais',
       'Agência Nacional de Energia Elétrica',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Indústrias Nucleares do Brasil',
       'Ministério do Desenvolvimento Agrário - Unidades com vínculo direto',
       'Departamento Nacional de Obras Contra as Secas',
       'Fundo Constitucional de Financiamento do Norte',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Fundo de Desenvolvimento do Nordeste',
       'Superintendência do Desenvolvimento do Nordeste',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Superintendência do Desenvolvimento da Amazônia',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento da Amazônia',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Fundo Nacional de Habitação de Interesse Social',
       'Autoridade Pública Olímpica',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Ministério do Trabalho e Emprego - Unidades com vínculo direto',
       'Fundo Nacional de Cultura', 'Fundo Geral de Turismo',
       'Fundação Biblioteca Nacional', 'Agência Nacional do Cinema',
       'Fundação Cultural Palmares', 'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Instituto Brasileiro de Turismo',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Nacional de Artes', 'Fundação Casa de Rui Barbosa',
       'Presidência da República', 'Fundo de Imprensa Nacional',
       'Secretaria de Direitos Humanos',
       'Secretaria de Políticas de Promoção da Igualdade Racial',
       'Gabinete da Vice-Presidência da República',
       'Instituto Nacional de Tecnologia da Informação',
       'Secretaria da Micro e Pequena Empresa'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...  13749                 7.07
Fundo do Exército                                    4468                 2.30
Comando da Marinha - Fundo Naval                     3510                 1.80
Fundo Nacional de Cultura                            3087                 1.59
Empresa Brasileira de Pesquisa Agropecuária          2739                 1.41
Instituto Brasileiro do Meio Ambiente e dos Rec...   2372                 1.22
Fundo de Universalização dos Serviços de Teleco...   2335                 1.20
Agêncial Nacional de Telecomunicações                2323                 1.19
Fundo Aeronáutico                                    2259                 1.16
Ministério da Saúde - Unidades com vínculo direto    2191                 1.13

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                           count  Porcentaje_recuento
NOMBRE_ÓRGANO
Secretaria de Aviação Civil                   16                 0.01
Secretaria da Micro e Pequena Empresa         16                 0.01
Amazônia Azul Tecnologia de Defesa S.A.       15                 0.01
Empresa de Pesquisa Energética                14                 0.01
Fundo Nacional sobre Mudança no Clima         13                 0.01
Fundo de Desenvolvimento do Centro-Oeste      13                 0.01
Companhia Docas do Pará                        9                 0.00
Reserva de Contingência                        8                 0.00
Companhia Docas do Rio Grande do Norte         6                 0.00
Gabinete da Vice-Presidência da República      5                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
26         4          1.49
451        3          1.12
432        3          1.12
209        3          1.12
36         3          1.12
...      ...           ...
14         1          0.37
9          1          0.37
8          1          0.37
6          1          0.37
5          1          0.37

[236 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 296 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '110174', '135037', '130101', '373001', '135100',
       '440088', '130137', '490003', '330013', '180077', '420002',
       '550002', '240901', '113209', '203001', '240102', '364001',
       '364999', '415001', '245209', '365001', '364102', '167086',
       '110407', '121002', '673001', '873001', '211999', '120002',
       '168002', '773001', '160075', '120999', '123001', '773008',
       '699999', '773009', '164204', '173057', '183023', '170010',
       '806001', '170013', '173065', '513001', '201924', '510001',
       '380910', '173030', '114601', '287001', '179083', '400042',
       '201002', '225001', '280102', '113601', '170380', '179103',
       '170474', '193028', '114702', '170392', '170381', '183038',
       '264001', '390001', '333001', '170356', '173039', '153103',
       '155001', '158137', '153062', '153080', '154040', '153079',
       '155007', '153163', '153032', '158131', '153046', '153056',
       '158121', '154046', '153173', '153115', '158150', '158151',
       '153114', '154055', '158123', '154502', '154045', '158148',
       '154032', '153045', '158717', '158099', '158565', '158128',
       '158515', '153028', '158127', '154503', '154080', '154039',
       '158147', '153036', '154042', '158135', '153164', '153035',
       '153038', '158718', '158146', '154054', '153166', '158139',
       '158157', '153063', '158141', '158129', '154999', '158133',
       '158154', '154047', '158720', '153019', '153165', '154048',
       '158126', '158517', '153167', '153015', '153031', '153061',
       '158142', '344002', '158124', '153033', '153030', '154044',
       '154421', '158658', '158132', '154003', '158143', '154043',
       '154034', '154069', '154359', '153037', '158155', '158136',
       '158516', '153065', '158274', '158134', '154419', '158719',
       '158195', '153010', '154041', '158092', '154051', '158122',
       '158138', '158009', '154050', '153978', '158153', '153052',
       '158145', '158125', '154049', '150014', '158152', '153034',
       '158149', '158144', '154215', '158156', '393001', '200320',
       '113214', '393003', '275075', '396005', '396001', '110680',
       '396006', '682010', '396003', '395001', '277001', '396004',
       '390002', '110591', '396002', '399002', '110590', '200333',
       '200246', '200336', '200331', '303001', '200401', '194088',
       '194040', '200094', '200109', '200021', '110008', '330002',
       '255014', '250088', '253003', '255011', '254420', '255000',
       '366003', '255003', '253002', '255008', '255015', '413001',
       '410007', '413047', '410002', '410003', '115406', '110244',
       '570903', '570901', '207001', '244001', '240005', '323030',
       '325001', '323002', '495001', '323028', '320002', '113208',
       '113206', '490002', '113802', '537002', '195006', '533009',
       '533014', '275068', '537003', '537004', '560003', '443003',
       '537001', '533013', '530002', '533018', '533008', '275060',
       '560015', '913001', '443032', '193034', '443019', '193116',
       '443045', '440002', '193125', '447001', '193113', '193107',
       '380010', '340002', '187002', '344042', '203003', '344041',
       '423001', '403101', '185001', '540001', '403201', '344001',
       '110005', '110245', '200016', '238012', '110101', '110246',
       '243001', '690001'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 11126                 5.72
167086                  4468                 2.30
340002                  3087                 1.59
673001                  3008                 1.55
135037                  2739                 1.41
193034                  2363                 1.21
413047                  2335                 1.20
413001                  2323                 1.19
121002                  2259                 1.16
250088                  2191                 1.13

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
154999                     1                 0.00
158274                     1                 0.00
255011                     1                 0.00
255014                     1                 0.00
193107                     1                 0.00
410003                     1                 0.00
255008                     1                 0.00
255015                     1                 0.00
255003                     1                 0.00
364102                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
1         10          3.38
26         4          1.35
2          3          1.01
36         3          1.01
209        3          1.01
...      ...           ...
9          1          0.34
6          1          0.34
8          1          0.34
4          1          0.34
5          1          0.34

[250 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 293 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA/SE/CGU', 'EMBRAPA-SETORIAL',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO', 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - (ME)',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'CNEN-ORCAMENTO E FINANCAS', 'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL', 'CNPQ - DIFERENCIA CAMBIAL',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'FINANCIADORA DE ESTUDOS E PROJETOS',
       'CONSELHO NAC DE DESENV CIENT E TECNOLOGICO', 'FUNDO DO EXERCITO',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'MARINHA - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA', 'MAER - DIFERENCA CAMBIAL',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL', 'FUNDACAO OSORIO',
       'BANCO CENTRAL DO BRASIL',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'COMISSAO DE VALORES MOBILIARIOS',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'CASA DA MOEDA DO BRASIL',
       'COORD-GERAL DE ORC., FIN. E CONT.-CGOFC (MTP)',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'FUNDO SOBERANO DO BRASIL',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'RESERVA DE CONTINGENCIA/MEFP',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE', 'REITORIA',
       'UNIVERSIDADE FEDERAL DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'CAPES - DIFERENCA CAMBIAL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL', 'COLEGIO PEDRO II',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'FUNDACAO JOAQUIM NABUCO', 'IF GOIANO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'IFB - REITORIA - BRASILIA-DF',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'UNIVERSIDADE FEDERAL DE VICOSA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS', 'IFPB - REITORIA',
       'INST. FED. DO PARANA/ REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE',
       'COMPANHIA DOCAS DO RIO DE JANEIRO', 'SECRETARIA DE PORTOS/PR',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'COMPANHIA DOCAS DO CEARA',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'FUNDO DA MARINHA MERCANTE', 'COMPANHIA DOCAS DO PARA',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'COMPANHIA DOCAS DO ESPIRITO SANTO',
       'SECRETARIA DE AVIACAO CIVIL/PR', 'DEPEN - DIRETORIA EXECUTIVA',
       'FUNDO NACIONAL ANTIDROGAS',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'RENDA DO PATRIMONIO INDIGENA',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL',
       'SECRETARIA DE POLITICAS PARA AS MULHERES',
       'SECRETARIA EXECUTIVA-MPA',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'FUNDACAO NACIONAL DE SAUDE - MT', 'FUNDACAO OSWALDO CRUZ',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'COORDENACAO-GERAL DE RECURSOS LOGISTICOS',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'FUNDO NACIONAL DO IDOSO - SET.ORC/FIN',
       'FUNDO NAC.P/A CRIANCA E O ADOLESC.SET.ORC/FIN',
       'FUNDO NACIONAL DO IDOSO', 'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'EMPRESA DE PESQUISA ENERGETICA',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'SUBSEC. DE PLANEJ., ORCAMENTO E ADMINISTRACAO',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'ORCAMENTO E FINANCAS/MDR',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'AUTORIDADE PUBLICA OLIMPICA',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'IBAMA - SUPERINTENDENCIA DE PERNAMBUCO/PE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'IBAMA - SUPERINTENDENCIA DE SANTA CATARINA/SC',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - SUPERINTENDENCIA DO MATO GROSSO/MT',
       'IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES',
       'COORD-GERAL DE ORCAM., FIN. E CONTABILIDADE',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'FUNDO GERAL DE TURISMO-FUNGETUR', 'FUNDACAO BIBLIOTECA NACIONAL',
       'AGENCIA NACIONAL DO CINEMA', 'FUNDACAO CULTURAL PALMARES',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO NACIONAL DE ARTES',
       'FUNDACAO CASA DE RUI BARBOSA',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'SECRETARIA DE DIREITOS HUMANOS/PR',
       'SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI',
       'SECRETARIA DA MICRO E PEQUENA EMPRESA'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                              count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME       11126                 5.72
FUNDO DO EXERCITO                              4468                 2.30
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM   3672                 1.89
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC    3087                 1.59
EMBRAPA-SETORIAL                               2739                 1.41
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ   2363                 1.21
FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES     2335                 1.20
AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE      2323                 1.19
SECRETARIA DE ECON. E FIN.DA AER.- F.AER.      2259                 1.16
SPO-COORD.-GERAL DE ORC.E FINANCAS/MS          2191                 1.13

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
CONSELHO NAC DE DESENV CIENT E TECNOLOGICO         1                 0.00
IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES      1                 0.00
CAPES - DIFERENCA CAMBIAL                          1                 0.00
INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO          1                 0.00
FUNDACAO NACIONAL DE SAUDE - AP                    1                 0.00
COORDENACAO-GERAL DE RECURSOS LOGISTICOS           1                 0.00
FUNDACAO NACIONAL DE SAUDE - ES                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - PB                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - PA                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - MT                    1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
1         10          3.41
26         4          1.37
16         3          1.02
36         3          1.02
451        3          1.02
...      ...           ...
9          1          0.34
6          1          0.34
8          1          0.34
4          1          0.34
5          1          0.34

[248 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 4 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         186687                95.97
Receitas de Capital                          5194                 2.67
Receitas Correntes - intra-orçamentárias     2638                 1.36
Receitas de Capital - intra-orçamentárias      14                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         186687                95.97
Receitas de Capital                          5194                 2.67
Receitas Correntes - intra-orçamentárias     2638                 1.36
Receitas de Capital - intra-orçamentárias      14                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
186687      1         25.00
5194        1         25.00
2638        1         25.00
14          1         25.00

None
La categoría ORIGEN_INGRESO tiene 14 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Receitas Correntes - a classificar', 'Contribuições',
       'Receita Patrimonial', 'Receita de Serviços',
       'Operações de Crédito', 'Receita Agropecuária',
       'Transferências Correntes', 'Alienação de Bens',
       'Amortizações de Empréstimos', 'Receita Industrial',
       'Transferências de Capital', 'Outras Receitas de Capital'],
      dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                    70647                36.32
Receita de Serviços                          62598                32.18
Receita Patrimonial                          28339                14.57
Impostos, Taxas e Contribuições de Melhoria  10538                 5.42
Contribuições                                 8536                 4.39
Receita Industrial                            3864                 1.99
Receita Agropecuária                          2380                 1.22
Alienação de Bens                             2298                 1.18
Amortizações de Empréstimos                   1981                 1.02
Transferências Correntes                      1330                 0.68

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Contribuições                        8536                 4.39
Receita Industrial                   3864                 1.99
Receita Agropecuária                 2380                 1.22
Alienação de Bens                    2298                 1.18
Amortizações de Empréstimos          1981                 1.02
Transferências Correntes             1330                 0.68
Receitas Correntes - a classificar   1093                 0.56
Operações de Crédito                  681                 0.35
Outras Receitas de Capital            190                 0.10
Transferências de Capital              58                 0.03

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
70647      1          7.14
62598      1          7.14
28339      1          7.14
10538      1          7.14
8536       1          7.14
3864       1          7.14
2380       1          7.14
2298       1          7.14
1981       1          7.14
1330       1          7.14
1093       1          7.14
681        1          7.14
190        1          7.14
58         1          7.14

None
La categoría TIPO_INGRESO tiene 44 elementos diferentes:

Los elementos de la categoría son:

array(['Demais receitas correntes', 'Taxas',
       'Indenizações, restituições e ressarcimentos',
       'Multas administrativas, contratuais e judicia',
       'Receitas Correntes - a classificar', 'Contribuições econômicas',
       'Exploração do patrimônio imobiliário do Estad',
       'Serviços Administrativos e Comerciais Gerais',
       'Operações de crédito - mercado externo', 'Outros serviços',
       'Receita Agropecuária',
       'Transferências dos Estados e do Distrito Fede',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Alienação de bens imóveis',
       'Operações de crédito - mercado interno',
       'Exploração de recursos naturais', 'Alienação de bens móveis',
       'Transferências de Instituições Privadas',
       'Transferências Correntes',
       'Transferências da União e de suas Entidades',
       'Valores Mobiliários', 'Amortizações de Empréstimos',
       'Receita Industrial', 'Contribuições sociais', 'Impostos',
       'Serviços e Atividades Financeiras', 'Transferências de Capital',
       'Indenizações e restituições',
       'Delegação de Serviços Públicos Mediante Conce',
       'Serviços e Atividades Referentes à Saúde',
       'Serviços e Atividades Referentes à Navegação ',
       'Cessão de direitos', 'Demais receitas patrimoniais',
       'Transferências dos Municípios e de suas Entid',
       'Transferências de Pessoas Físicas',
       'Resultado do Banco Central do Brasil',
       'Receitas de valores mobiliários',
       'Remuneração das Disponibilidades do Tesouro',
       'Contribuições para Entidades Privadas de Serv',
       'Receita de concessões e permissões',
       'Alienação de bens intangíveis', 'Transferências de Convênios',
       'Resgate de Títulos do Tesouro',
       'Exploração do patrimônio intangível'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   54941                28.24
Indenizações, restituições e ressarcimentos    36471                18.75
Multas administrativas, contratuais e judicia  21059                10.83
Exploração do patrimônio imobiliário do Estad  16225                 8.34
Demais receitas correntes                      11798                 6.06
Taxas                                           8025                 4.13
Valores Mobiliários                             5508                 2.83
Contribuições econômicas                        5117                 2.63
Receita Industrial                              3864                 1.99
Contribuições sociais                           3403                 1.75

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Transferências de Capital                         39                 0.02
Receita de concessões e permissões                30                 0.02
Transferências da União e de suas Entidades       20                 0.01
Contribuições para Entidades Privadas de Serv     16                 0.01
Exploração do patrimônio intangível               14                 0.01
Resgate de Títulos do Tesouro                      9                 0.00
Resultado do Banco Central do Brasil               4                 0.00
Receitas de valores mobiliários                    3                 0.00
Alienação de bens intangíveis                      2                 0.00
Transferências de Convênios                        1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
150        2          4.55
36471      1          2.27
54941      1          2.27
16225      1          2.27
11798      1          2.27
8025       1          2.27
5508       1          2.27
5117       1          2.27
3864       1          2.27
3403       1          2.27
21059      1          2.27
3290       1          2.27
2891       1          2.27
2513       1          2.27
2784       1          2.27
1981       1          2.27
1969       1          2.27
1511       1          2.27
2380       1          2.27
1393       1          2.27
1197       1          2.27
1093       1          2.27
993        1          2.27
831        1          2.27
361        1          2.27
320        1          2.27
1465       1          2.27
228        1          2.27
177        1          2.27
122        1          2.27
82         1          2.27
54         1          2.27
49         1          2.27
39         1          2.27
30         1          2.27
20         1          2.27
16         1          2.27
14         1          2.27
9          1          2.27
4          1          2.27
3          1          2.27
2          1          2.27
1          1          2.27

None
La categoría DETALLE tiene 525 elementos diferentes:

Los elementos de la categoría son:

array(['ENCARGOS LEGAIS PELA INSCR.EM DIV.ATIVA-PRINC',
       'ONUS DE SUCUMBENCIA-MULTAS E JUROS',
       'OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-MUL.JUR.',
       'ONUS DE SUCUMBENCIA-PRINCIPAL',
       'RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.',
       'OUTROS RESSARCIMENTOS-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.',
       'Receitas Correntes - a classificar',
       'MULTAS ADMINIST.POR DANOS AMBIENTAIS-PRINC.',
       'ENCARGOS LEGAIS PELA INSCR.EM DIV.AT.-MUL.JUR',
       'OUTRAS INDENIZACOES-PRINCIPAL',
       'MULTAS ADMINIST.POR DANOS AMBIENTAIS-MUL.JUR.',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-PRINCIPAL',
       'OUTRAS INDENIZACOES-MULTAS E JUROS',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-MUL.JUR',
       'OUTRAS RECEITAS-PRIMARIAS-DIVIDA ATIVA',
       'CONDECINE-DIVIDA ATIVA-MULTAS E JUROS',
       'RESTIT.DE DESPESAS EXERC.ANTERIORES-MUL.JUR.',
       'OUTRAS RESTITUICOES-PRINCIPAL',
       'OUTRAS RECEITAS IMOBILIARIAS-PRINCIPAL',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.',
       'MULTAS PREV.EM LEG.ESPECIFICA-DIV.AT-MUL.JUR.',
       'OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.',
       'OP.DE CREDITO CONTRATUAIS-MERC.EXTERNO-PRINC.',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-PRINC.',
       'OUTROS SERVICOS-PRINCIPAL',
       'CONTR.S/APOSTAS EM COMPETICOES HIPICAS-PRINC.',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-DIV.AT.',
       'RECEITA AGROPECUARIA-PRINCIPAL',
       'TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.',
       'TAXAS PELA PRESTACAO DE SERVICOS-MULT.E JUROS',
       'ALIEN.DE BENS E MERCADORIAS APREENDIDOS-PRINC',
       'TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.',
       'OUTROS RESSARCIMENTOS-DIVIDA ATIVA',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-MUL.JUR.',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL',
       'ALIENACAO DE BENS IMOVEIS-MULTAS E JUROS',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.',
       'INDENIZACAO POR SINISTRO-PRINCIPAL',
       'TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL',
       'CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-MUL.JUR',
       'CONCESSAO FLORESTAS NACIONAIS-DEM.VAL.-PRINC.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL',
       'CONCESSAO FLORESTAS NACIONAIS-VAL.MIN.-PRINC.',
       'CONCESSAO FLOREST.NACIONAIS-DEM.VAL.-MUL.JUR.',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS-PRINC',
       'TRANSFERENCIAS DO EXTERIOR-PRINCIPAL',
       'CUSTOS EDITAL DE CONCESSAO FLORESTAL-PRINC.',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-MUL.JUR.',
       'TRANSFER.DA UNIAO E DE SUAS ENTIDADES-PRINC.',
       'ALIENACAO DE TITULOS MOBILIARIOS-PRINCIPAL',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.',
       'JUROS DE TITULOS DE RENDA-PRINCIPAL',
       'AMORT.EMPREST.-PROG.OP.OFICIAIS CRED.-PRINC.',
       'ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS',
       'RECEITA INDUSTRIAL-PRINCIPAL',
       'OUTRAS RESTITUICOES-MULTAS E JUROS',
       'RESTIT.PARCELAS SEGURO DESEMPR.RECEB.INDEVID.',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-PRINC.',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-DIV.AT.',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL',
       'TAXAS PELA PRESTACAO DE SERVICOS-PRINCIPAL',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-MUL.JUR',
       'RECEITA INDUSTRIAL-MULTAS E JUROS', 'OUTROS IMPOSTOS-PRINCIPAL',
       'AMORTIZACAO EMPRESTIMOS CONTRATUAIS-MUL.JUR.',
       'DIVIDENDOS-PRINCIPAL', 'CONTRIBUICAO INDUSTRIAL RURAL-PRINCIPAL',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL',
       'ALIENACAO DE BENS IMOVEIS-PRINCIPAL',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL',
       'AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.',
       'OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.',
       'OUTRAS RECEITAS-FINANCEIRAS-DIVIDA ATIVA',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-PRINC.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-DIV.AT.',
       'ALIENACAO DE BENS IMOVEIS-JUROS',
       'AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL',
       'TAXAS INSPECAO,CONTROLE E FISCALIZ.-MUL.JUR.',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'CONTRIBUICAO INDUSTRIAL RURAL-MULTAS E JUROS',
       'OUTROS SERVICOS-MULTAS E JUROS',
       'ADICIONAL A CONTR.PREVIDENCIARIA RURAL-PRINC.',
       'ALIENACAO DE BENS IMOVEIS-MULTAS',
       'RECEITA AGROPECUARIA-MULTAS E JUROS',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-MUL.JUR.',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-MUL.JUR',
       'REMUN.SALDOS RECURSOS NAO-DESEMBOLSADOS-PRINC',
       'CONTRIBUICAO SOBRE A LOTERIA FEDERAL-PRINCIP.',
       'ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.',
       'CONTRIBUICAO SOBRE LOTERIAS DE NUMEROS-PRINC.',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL',
       'CONTRIBUICAO SOBRE LOTERIAS ESPORTIVAS-PRINC.',
       'CONTRIB.S/CONCURS.PROGNOST.-MOD.FUT-PRINCIPAL',
       'TRANSF.PROVENIENTES DEP.NAO IDENTIFIC.-PRINC.',
       'TRANSFERENCIAS DE PESSOAS FISICAS-PRINCIPAL',
       'ALIEN.ESTOQ.PROG.AQUIS.ALIMENTOS-PAA-PRINC.',
       'OUTROS RESSARCIMENTOS-MULTAS E JUROS',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-PRINC.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELEC.-MUL.JUR',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.',
       'COMPENS.FINAN.EXPL.RECURSOS MINERAIS-MUL.JUR.',
       'CIDE-REMESSAS AO EXTERIOR-PRINCIPAL',
       'COTA-PARTE DO AFRMM-MULTAS E JUROS',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.',
       'COTA-PARTE DO AFRMM-PRINCIPAL',
       'UTILIZACAO DE RECURSOS HIDRICOS-ITAIPU-PRINC.',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-MUL.JUR',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-MUL.JUR.',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-MUL.JUR',
       'CESSAO DIR.EXPLOR.SATELITE BRASILEIRO-PRINC.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-MUL.JUR.',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-MUL.JUR',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA-MUL.JUR.',
       'EMPRÉSTIMOS COMPULSÓRIOS',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-PRINC.',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-MUL.JUR',
       'COMPENS.FIN.EXPL.REC.MINERAIS-DIV.AT.-MUL.JUR',
       'SERVICOS DE ATENDIMENTO A SAUDE-PRINCIPAL',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-PRINCIPAL',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-DIV.ATIVA',
       'CONTR.P/DES.ENS.PROF.MARITIMO-DIV.AT-MUL.JUR.',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-PRINCIPAL',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-MUL.JUR',
       'SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.',
       'SERVICOS PORTUARIOS-PRINCIPAL', 'REVERSAO DE GARANTIAS-PRINCIPAL',
       'TARIFA AEROPORTUARIA-PRINCIPAL',
       'CONTR.P/CUSTEIO DAS PENSOES MILITARES-MUL.JUR',
       'CESSAO DO DIR.OPERACIONALIZACAO PAGTOS-PRINC.',
       'DEMAIS RECEITAS PATRIMONIAIS-PRINCIPAL',
       'SERVICOS DE NAVEGACAO-MULTAS E JUROS',
       'TRANSF.DOS MUNICIPIOS E SUAS ENTIDADES-PRINC.',
       'OUTRAS OP.DE CREDITO-MERCADO EXTERNO-PRINC.',
       'SERVICOS DE ATENDIMENTO A SAUDE-MUL.JUR.',
       'CESSAO DIR.OPERACIONALIZACAO PAGTOS-MUL.JUR.',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-MUL.JUR.',
       'SERVICOS DE NAVEGACAO-PRINCIPAL',
       'OP.CREDITO CONTRATUAIS-MERCADO INTERNO-PRINC.',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-MUL.JUR.',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-MUL.JUR.',
       'CONTR.P/CUSTEIO DAS PENSOES MILITARES-PRINC.',
       'SERVICOS DE TRANSPORTE-PRINCIPAL',
       'IRPJ-LIQUIDA DE INCENTIVOS-MULTAS E JUROS',
       'CONTR.S/REMUN.DEVIDA AO TRABALHADOR-PRINCIPAL',
       'IRRF-OUTROS RENDIMENTOS-INTRA ORÇAMENTÁRIA',
       'IOF - COMERCIALIZACAO DO OURO',
       'ROY.PETR.PLAT.-PARTILHA-COM.A P.3/12/12-PRINC',
       'CIDE-REMESSAS AO EXTERIOR-DIVIDA ATIVA',
       'CONTRIB.SOCIAL SOBRE LUCRO LIQ.-CSLL-MUL.JUR.',
       'TAXA DE FISCALIZACAO DE FUNCIONAMENTO-DIV.AT.',
       'RECEITA DE PARCELAMENTOS - IMPOSTO EXPORTACAO',
       'OUTRAS CONTRIBUICOES SOCIAIS-DIV.AT.-MUL.JUR.',
       'IRRF-REMESSA AO EXTERIOR-MULTAS E JUROS',
       'DELEG.P/PREST.SERV.TRANSP.FERROVIARIO-PRINC.',
       'CONTRIB.SOCIAL SOBRE LUCRO LIQ.-CSLL-DIL.AT.',
       'JUROS SOBRE O CAPITAL PROPRIO-MULTAS E JUROS',
       'IRRF-OUTROS RENDIMENTOS-PRINCIPAL',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-PRINC.',
       'CONTRIBUICAO PARA O PIS/PASEP-DIV.AT-MUL.JUR.',
       'TAXAS INSPECAO,CONTROLE E FISCALIZACAO-DIV.AT',
       'OUTROS IMPOSTOS-DIVIDA ATIVA',
       'CONTRIB.S/SORT.REALIZ.POR ENT.FILANT.-MUL.JUR',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-DEMAIS-PRINC',
       'TAXA DE FISCALIZACAO DE INSTALACAO-PRINCIPAL',
       'RETIDO NAS FONTES - CAPITAL', 'COFINS-MULTAS E JUROS',
       'COFINS-PRINCIPAL', 'CONTRIB.PATR.P/RPPS ORIUNDA SENT.JUD.-PRINC.',
       'IRRF-TRABALHO', 'CONTRIB.PARA SERV.NACIONAL APREND.COM.-SENAC',
       'TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.',
       'CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-DIV.AT.',
       'IPI - PRODUTOS DO FUMO',
       'RES.BACEN-OP.C/RESERV.E DERIV.CAMBIAIS-PRINC.',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-PRINC.',
       'IOF-OURO-PRINCIPAL',
       'CONTRIB.P/ASSIST.MEDICO-HOSPITALAR-PMDF/CBMDF',
       'OUTROS RESSARCIMENTOS-DIVIDA ATIVA-MUL.JUR.',
       'ITR-MUNICIPIOS CONVENIADOS-PRINCIPAL', 'IRPF-PRINCIPAL',
       'IRPF-DIVIDA ATIVA-MULTAS E JUROS',
       'CONTRIB.SOCIAL DO SALARIO-EDUCACAO-MUL.JUR.',
       'IPI-BEBIDAS-MULTAS E JUROS', 'CONDECINE-MULTAS E JUROS',
       'PRESTACAO DE CONTAS ELEITORAIS-PRINCIPAL',
       'CONTR.REL.ATIV.IMP.PETR.DER. GAS NAT.ALC.CARB',
       'ITR - MUNICIPIOS NAO-CONVENIADOS',
       'RESTITUICAO DE RECURSOS DE FOMENTO-PRINCIPAL',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.',
       'IRRF-TRABALHO-MULTAS/JUROS-INTRA ORÇAMENTÁRIA',
       'IRRF-TRABALHO-DIVIDA ATIVA-MULTAS E JUROS',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-DIV.AT.',
       'CONTR.REL.DESPED.EMPREG.S/JUSTA CAUSA-PRINC.',
       'CONTRIBUICOES P/O RGPS-MULTAS E JUROS',
       'CIDE-COMBUSTIVEIS-COMERCIALIZACAO-DIV.ATIVA',
       'RETIDO NAS FONTES - OUTROS RENDIMENTOS',
       'CONTRIB.SERV.INAT.E PENS.CIV.P/RPPS-PRINCIPAL',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-MUL.JUR.',
       'CONCESSAO DE AVAIS,GARANTIAS E SEGUROS-PRINC.',
       'ITR-MUNICIPIOS NAO CONVENIADOS-PRINCIPAL',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-MUL.JUR',
       'IPI-OUTROS PRODUTOS-REC.INTRA ORÇAMENTÁRIA',
       'OUTRAS CONTRIBUICOES SOCIAIS-PRINCIPAL',
       'PARTICIPACOES-PRINCIPAL', 'CONTRIBUICAO PARA O SENAT',
       'CONTRIB.SERV.INAT.E PENS.CIV.P/RPPS-MUL.JUR.',
       'CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-PRINC.',
       'IRRF-REMESSA AO EXTERIOR-INTRA ORÇAMENTÁRIA',
       'CONT.P/ENT.PRIV.SERV.SOC.E FORM.PROFIS.-PRINC',
       'IPI - VINCULADOS A IMPORTACAO',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-PRINC.',
       'IOF - DEMAIS OPERACOES',
       'REC.DO PRINCIPAL DO IMPOSTO S/ A IMPORT.',
       'BONUS ASSINAT.CONTRATO PARTILHA PRODUC.-PRINC',
       'OUTRAS RECEITAS-FINANCEIRAS-PRINCIPAL',
       'TAXA DE FISCALIZACAO DE FUNCIONAMENTO-PRINC.',
       'CONTRIB.S/SORT.REALIZ.POR ENT.FILANT.-PRINC.',
       'IPI-OUTROS PRODUTOS-DIVIDA ATIVA-MUL.JUR.',
       'CONTRIBUIçãO P/ LIC.USO,AQUIS.OU TRANSF.TECN.',
       'REC. DO PRINCIPAL DO IMPOSTO S/ A EXPORTACAO',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-MUL.JUR.',
       'TX.INSP,CONTROL.E FISCALIZ.-DIV.AT.-MUL.JUR.',
       'OUTROS IMPOSTOS-DIVIDA ATIVA-MULTAS E JUROS',
       'MULTAS PREV.NA LEI GERAL DAS TELECOM.-MUL.JUR',
       'IMPOSTO SOBRE A EXPORTACAO-MULTAS E JUROS',
       'CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-MUL.JUR',
       'TX.FISCALIZACAO DE INSTALACAO-DIV.AT-MUL.JUR.',
       'IMPOSTO SOBRE A IMPORTACAO-DIV.AT.-MUL.JUR.',
       'CONTR.DO SERV. ATIVO CIVIL P/ REGIME PROPRIO',
       'REMUN.S/REPASSE P/PROG.DESENV.ECONOMICO-PRINC',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-MUL.JUR',
       'IMPOSTO SOBRE A IMPORTACAO-MULTAS E JUROS', 'IRPF-DIVIDA ATIVA',
       'CONTRIB.P/ASSIST.MEDICO-HOSPIT.-CBMDF-PRINC.',
       'CIDE-COMBUSTIVEIS-COMERCIALIZACAO-PRINCIPAL',
       'IPI-FUMO-PRINCIPAL', 'TAXAS PELA PRESTACAO DE SERVICOS-DIV.ATIVA',
       'CONTRIBUICAO PARA O PIS/PASEP-MULTAS E JUROS',
       'RESSARCIMENTO DE CUSTOS-MULTAS E JUROS',
       'IPI-FUMO-MULTAS E JUROS',
       'CONTRIBUICAO PARA O PIS/PASEP-DIVIDA ATIVA',
       'ITR-MUNICIPIOS NAO CONVENIADOS-MULTAS E JUROS',
       'CONTRIBUICAO PARA O PIS/PASEP-PRINCIPAL',
       'RECEITA DE PARC - CONTR. EMP/TRAB SEG. SOCIAL',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL',
       'COMPENS.FIN.ENTRE RGPS E RPPS-DIV.AT-MUL.JUR.',
       'RESSARCIMENTO AO RGPS-MULTAS E JUROS',
       'BONUS ASSINAT.CONTRATO DE CONCESSAO-MUL.JUR.',
       'COFINS-DIVIDA ATIVA-MULTAS E JUROS',
       'MULTAS E J. MORA DE OUTRAS CONTR. PREVIDENC.',
       'CONT. SERV. NAC. DE APRENDIZ. COOPER.-SESCOOP',
       'IPI-BEBIDAS-REC.INTRA ORÇAMENTÁRIA',
       'MULTAS APLICADAS PELOS TRIB.DE CONTAS-PRINC.',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-MUL.JUR.',
       'RESTITUICAO DE BENEFICIOS ASSISTENCIAIS-PRINC',
       'IRPJ-LIQUIDA DE INCENTIVOS-PRINCIPAL',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-MUL.JUR.',
       'IMPOSTO SOBRE A RENDA DE PESSOA FISICA-IRPF',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-PRINCIPAL',
       'CONTR.REL.ATIV.COM.PETR.DER. GAS NAT.ALC.CARB',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-DIV.AT.',
       'REC.DO PRINCIPAL DA CONTR. P FIN. SEG. SOCIAL',
       'BARREIRAS TECNICAS AO COMERC.EXTERIOR-MUL.JUR',
       'BARREIRAS TECNICAS AO COMERCIO EXTERIOR-PRINC',
       'IOF-OURO-MULTAS E JUROS',
       'TAXA DE FISCALIZACAO DE INSTALACAO-DIV.ATIVA',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-PRINC.',
       'CONTRIBUICAO DE PENSIONISTA CIVIL - RPPS',
       'APORTES PERIÓD.P/AMORT.DÉFICIT ATUARIAL RPPS',
       'CONTRIBUICOES P/O RGPS-PRINCIPAL',
       'IMPOSTO SOBRE A IMPORTACAO-PRINCIPAL',
       'CONTRIB.SOC.S/LUCRO LIQ.-CSLL-DIV.AT-MUL.JUR.',
       'RESTIT.PARCELAS SEG.DESEMP.REC.INDEV.-MUL.JUR',
       'DEL.SERV.RADIODIF.SONORA E SOM/IMAGEM-MUL.JUR',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-MUL.JUR.',
       'ITR - MUNICIPIOS CONVENIADOS',
       'ALIENACAO DE BENS INTANGIVEIS-PRINCIPAL',
       'CONTRIB.P/FOMENTO RADIODIFUSAO PUBLICA-PRINC.',
       'SELO ESPECIAL DE CONTROLE', 'CONTRIBUICAO PARA O SEBRAE',
       'PESSOAS JURIDICAS - LIQUIDA DE INCENTIVOS', 'IPI-BEBIDAS',
       'TITULOS DE RESPONS.TES.NAC.-MERC.EXT.-PRINC.', 'IPI - BEBIDAS',
       'RESTIT.CONTRIB.PREVID.COMPLEMENTARES-PRINC.',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.INT.-PRINC',
       'DELEG.SERV.TELEC.-POD.CONC.NO REG.PUB.-PRINC.',
       'IRRF-CAPITAL-MULTAS E JUROS',
       'CONTRIB.P/ASSIST.MEDICO-HOSPIT.-PMDF-PRINC.',
       'IPI-BEBIDAS-MULTAS E JUROS-INTRA ORÇAMENTÁRIA',
       'CONTR.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-PRINC.',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-MUL.JUR.',
       'CONTRIB.SERV.AT.CIV.P/RPPS-SENT.JUD.-PRINC.',
       'IMPOSTO SOBRE A EXPORTACAO-PRINCIPAL',
       'CONTRIB.P/O RGPS INCIDENTES SOBRE A REC.BRUTA',
       'PREMIOS PRESCRITOS CONC.PROGNOSTICOS-MUL.JUR.',
       'CONTRIB.SOCIAL SOBRE O LUCRO LIQUIDO-CSLL',
       'IPI-OUTROS PRODUTOS-PRINCIPAL',
       'CONTRIBUICAO PARA O PROTERRA-PRINCIPAL',
       'IRRF-TRABALHO-PRINCIPAL',
       'IPI-VINCULADOS A IMPORTACAO-MULTAS E JUROS',
       'CONTRIB.SOCIAL SOBRE LUCRO LIQ.-CSLL-PRINC.',
       'CONTRIB. PARA O CUSTEIO DAS PENSOES MILITARES',
       'CIDE-COMBUSTIVEIS-IMPORTACAO-PRINCIPAL',
       'TX.PELA PRESTACAO DE SERVICOS-DIV.AT-MUL.JUR.',
       'IOF-DEMAIS OPERACOES-MULTAS E JUROS',
       'LOJAS FRANCAS ENTREP.ADUAN. DEP.ALFANDEGADOS',
       'RESTIT.BENEFICIOS NAO DESEMBOLSADOS-PRINCIPAL',
       'CONTRIBUICOES DO SEGURADO - ASSALARIADO',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-MUL.JUR',
       'DIVIDENDOS-MULTAS E JUROS',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-PRINCIPAL',
       'IMPOSTO SOBRE A EXPORTACAO-DIVIDA ATIVA',
       'ROY.EXC.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC',
       'CONTRIBUICOES P/O RGPS-DIVIDA ATIVA',
       'ROY.EXC.PETRO.PLAT-COM.ANT.3/12/12-DEM.-PRINC',
       'CONTRIBUICAO PARA O SESI',
       'DEL.SERV.RADIODIF.SONORA E SOM/IMAGEM-PRINC.',
       'APORTES PERIOD.P/COMPENSACOES AO RGPS-PRINC.',
       'PREMIOS PRESCRITOS CONCUR.PROGNOSTICOS-PRINC.',
       'IPI-VINCULADOS IMPORTAÇÃO-MULTAS/JUROS-INTRA',
       'DEL.SERV.TELEC.-POD.CONC.NO REG.PUB.-MUL.JUR.',
       'IPI-AUTOMOVEIS-MULTAS E JUROS', 'RECEITA DE PARCELAMENTOS - IRPJ',
       'CONTRIB.PARA SERV.NAC.APRENDIZ.INDUS.-SENAI',
       'REMUNERACAO DE DEPOSITOS ESPECIAIS-PRINCIPAL',
       'IPI-OUTROS PRODUTOS-DIVIDA ATIVA',
       'RECEITA DE PARCELAMENTOS - IRPF',
       'ITR-MUNICIPIOS NAO CONVENIADOS-DIV.AT-MUL.JUR',
       'OUTRAS CONTRIBUICOES SOCIAIS-DIVIDA ATIVA',
       'ITR-MUNICIPIOS NAO CONVENIADOS-DIVIDA ATIVA',
       'IPI-VINCULADOS A IMPORTACAO-PRINCIPAL',
       'CONTRIBUICOES P/O RGPS-DIVIDA ATIVA-MUL.JUR.',
       'IPI-AUTOMOVEIS-PRINCIPAL',
       'CIDE-REMESSAS AO EXTERIOR-MULTAS E JUROS',
       'RECEITA DE PARCELAMENTOS - COFINS',
       'ALIENACAO DE ESTOQUES DA PGPM-PRINCIPAL',
       'CONTRIBUICAO SOBRE LOTERIA INSTANTANEA-PRINC.',
       'RESULTADO DO BACEN-DEMAIS OPERACOES-PRINCIPAL',
       'IOF-DEMAIS OPERACOES-PRINCIPAL',
       'DEP.ABANDONADOS(DINHEIRO/OBJ.DE VALOR)-PRINC.',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-MUL.JUR.',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-PRINC.',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-PRINC.',
       'REC.DO PRINCIPAL DAS CONTR. P/ O PIS/PASEP',
       'IPI-OUTROS PRODUTOS-MULTAS E JUROS',
       'AMORTIZ.PROV.EXEC.DE GARANTIA-OP.CRED.-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-DIV.AT.-MUL.JUR.',
       'REC. DO PRINCIPAL DA CONTRIB S/LUCRO PJ',
       'CONTRIBUICAO PARA O SESC', 'SIMPLES',
       'IRPJ-LIQUIDA DE INCENTIVOS-DIV.AT.-MUL.JUR.',
       'CONTRIB.P/RGPS DECORRENTES DE ACOES JUDICIAIS',
       'REC.DO PRINCIPAL DA CONTR. S/ MOV. FINANCEIRA',
       'IOF-DEMAIS OPERACOES-DIVIDA ATIVA-MUL.JUR.',
       'MULTAS PREV.NA LEI GERAL DAS TELECOM.-PRINC.',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-PRINC.',
       'IRRF-OUTROS RENDIMENTOS-MULTAS E JUROS', 'IPI - VEICULOS',
       'CIDE-COMBUSTIVEIS-IMPORTACAO-MULTAS E JUROS',
       'TX.CONTROLE E FISCALIZ.PROD.QUIMICOS-PRINC.',
       'RESTIT.PARCELAS SEG.DESEMPR.REC.INDEV.-PRINC.',
       'VARIACAO CAMBIAL-PRINCIPAL',
       'BONUS ASSINAT.DE CONTRATO DE CONCESSAO-PRINC.',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-MUL.JUR',
       'MULTAS DECORRENTES DE SENTENCAS JUD.-DIV.AT.',
       'IPI-OUTROS PRODUTOS-MULTAS/JUROS-INTRA ORÇAM.',
       'CONTR.S/APOSTAS COMPET.HIPICAS-DIV.AT-MUL.JUR',
       'CONTR.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-DIV.AT',
       'COTA-PARTE DA CONTRIBUICAO SINDICAL-MUL.JUR.',
       'CONTRIBUICAO DO SERVIDOR INATIVO CIVIL - RPPS',
       'CONTR.LOJ.FR.ENTREP.ADUAN.DEP.ALFAND.-PRINC.',
       'ROYAL.EXCED.PROD.PETRO.TERRA(QQ SIT.)-PRINC.',
       'IMPOSTO SOBRE A EXPORTACAO-DIV.AT.-MUL.JUR.',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-DEMAIS-PRINC',
       'CONTR.S/ARREC.FUNDOS INVEST.REGIONAIS-PRINC.',
       'IRPJ-LIQUIDA DE INCENTIVOS-DIVIDA ATIVA',
       'CONTRIB. DE EMPRESAS S/SEGURADOS ASSALARIADOS',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-P.SAL-PRINC.',

Los 10 DETALLE que MAS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    30237                15.54
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL  15044                 7.73
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL             13405                 6.89
RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.  11882                 6.11
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    9541                 4.90
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             6392                 3.29
OUTRAS RESTITUICOES-PRINCIPAL                   6278                 3.23
OUTROS RESSARCIMENTOS-PRINCIPAL                 5339                 2.74
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    5202                 2.67
RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL    4645                 2.39

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
MULTAS JUDICIAIS POR DANOS AMBIENTAIS-MUL.JUR      1                 0.00
TAXA DE CONTROLE E FISCALIZACAO AMBIENTAL          1                 0.00
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-DIV.AT.       1                 0.00
OUTRAS OP.DE CREDITO-MERCADO EXTERNO-PRINC.        1                 0.00
RESTIT.CONTRIB.PREVID.COMPLEMENTARES-PRINC.        1                 0.00
OP.CREDITO CONTRATUAIS-MERCADO INTERNO-PRINC.      1                 0.00
IPI-BEBIDAS-REC.INTRA ORÇAMENTÁRIA                 1                 0.00
OUTRAS RECEITAS-FINANCEIRAS-MULTAS E JUROS         1                 0.00
BONUS ASSINAT.CONTRATO PARTILHA PRODUC.-PRINC      1                 0.00
TAXA POR PLANO DE ASSISTENCIA A SAUDE              1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
2         77         14.67
1         17          3.24
38        13          2.48
7         11          2.10
4         11          2.10
...      ...           ...
51         1          0.19
48         1          0.19
64         1          0.19
23         1          0.19
22         1          0.19

[197 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 1835 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 5.26500000e+06, 5.75870900e+06, ...,
       1.40000021e+08, 5.00000000e+04, 4.18794320e+07])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                             count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        192639                99.03
2665287.00                       4                 0.00
60000000.00                      3                 0.00
2500000.00                       3                 0.00
8800597.00                       3                 0.00
10000000.00                      3                 0.00
45575.00                         2                 0.00
600000.00                        2                 0.00
25000000.00                      2                 0.00
300000.00                        2                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
368.00                          1                 0.00
13821.00                        1                 0.00
5500.00                         1                 0.00
4419255.00                      1                 0.00
293994.00                       1                 0.00
208146.00                       1                 0.00
836613.00                       1                 0.00
19460.00                        1                 0.00
652761.00                       1                 0.00
144593.00                       1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

        count  % repetición
count
1        1780         97.00
2          49          2.67
3           4          0.22
192639      1          0.05
4           1          0.05

None
La categoría VALOR_REGISTRADO tiene 1003 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00,  3.66572200e+04,  1.72007883e+10, ...,
       -6.68250000e+02,  9.00000000e+02,  5.07434478e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                   count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              193450                99.44
-0.01                 29                 0.01
0.01                  24                 0.01
0.02                   8                 0.00
0.11                   4                 0.00
10626690.04            2                 0.00
599946657.90           2                 0.00
3855.61                2                 0.00
13593292.06            2                 0.00
-88175108.14           2                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
270.00                1                 0.00
-1.00                 1                 0.00
-270.00               1                 0.00
1.00                  1                 0.00
689.04                1                 0.00
-689.04               1                 0.00
668.25                1                 0.00
-668.25               1                 0.00
900.00                1                 0.00
-2697527523.87        1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

        count  % repetición
count
1         978         97.51
2          20          1.99
193450      1          0.10
24          1          0.10
29          1          0.10
4           1          0.10
8           1          0.10

None
La categoría VALOR_REALIZADO tiene 129122 elementos diferentes:

Los elementos de la categoría son:

array([1.5494898e+05, 8.0840000e+01, 4.9961100e+03, ..., 1.1527000e+04,
       3.9661000e+04, 5.4122400e+03])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00              2972                 1.53
100.00             745                 0.38
20.00              667                 0.34
30.00              563                 0.29
200.00             551                 0.28
60.00              550                 0.28
10.00              522                 0.27
50.00              501                 0.26
300.00             482                 0.25
150.00             444                 0.23

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
254.29               1                 0.00
319.17               1                 0.00
238.31               1                 0.00
661.38               1                 0.00
142118.70            1                 0.00
508.81               1                 0.00
480245.49            1                 0.00
122590.76            1                 0.00
374898.82            1                 0.00
139083.93            1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

        count  % repetición
count
1      115189         89.21
2        7410          5.74
3        2458          1.90
4        1155          0.89
5         668          0.52
...       ...           ...
124         1          0.00
123         1          0.00
122         1          0.00
65          1          0.00
62          1          0.00

[145 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 29 elementos diferentes:

Los elementos de la categoría son:

array([  0.,   1., 101.,   2.,   4.,   5., 385.,  28.,  21., 125.,  50.,
        -3.,   3.,   6.,  86.,  35.,  46.,  -8.,  14.,  22.,  26.,  23.,
        -1.,  65., 312.,   7.,  33.,  17.,  13.])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                       count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  194412                99.94
1.00                      67                 0.03
2.00                      16                 0.01
3.00                       5                 0.00
4.00                       4                 0.00
21.00                      3                 0.00
5.00                       3                 0.00
6.00                       2                 0.00
101.00                     1                 0.00
28.00                      1                 0.00

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
22.00                     1                 0.00
26.00                     1                 0.00
23.00                     1                 0.00
-1.00                     1                 0.00
65.00                     1                 0.00
312.00                    1                 0.00
7.00                      1                 0.00
33.00                     1                 0.00
17.00                     1                 0.00
13.00                     1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

        count  % repetición
count
1          21         72.41
3           2          6.90
194412      1          3.45
67          1          3.45
5           1          3.45
16          1          3.45
4           1          3.45
2           1          3.45

None
La categoría FECHA_REGISTRO tiene 360 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2016-04-04 00:00:00', '2016-12-08 00:00:00', '2016-08-22 00:00:00',
 '2016-03-21 00:00:00', '2016-11-04 00:00:00', '2016-04-27 00:00:00',
 '2016-02-11 00:00:00', '2016-07-29 00:00:00', '2016-11-23 00:00:00',
 '2016-02-19 00:00:00',
 ...
 '2016-07-03 00:00:00', '2016-11-13 00:00:00', '2016-05-22 00:00:00',
 '2016-10-09 00:00:00', '2016-08-21 00:00:00', '2016-08-28 00:00:00',
 '2016-12-11 00:00:00', '2016-06-26 00:00:00', '2016-10-16 00:00:00',
 '2016-03-13 00:00:00']
Length: 361, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2016-01-21       2095                 1.08
2016-02-29       1341                 0.69
2016-06-30       1271                 0.65
2016-10-31       1249                 0.64
2016-09-30       1245                 0.64
2016-11-30       1229                 0.63
2016-03-31       1218                 0.63
2016-05-31       1200                 0.62
2016-08-31       1196                 0.61
2016-01-29       1166                 0.60

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2016-07-17          1                 0.00
2016-05-15          1                 0.00
2016-05-22          1                 0.00
2016-10-09          1                 0.00
2016-08-21          1                 0.00
2016-08-28          1                 0.00
2016-12-11          1                 0.00
2016-06-26          1                 0.00
2016-10-16          1                 0.00
2016-03-13          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
1         37         10.28
10         9          2.50
2          9          2.50
7          8          2.22
5          7          1.94
...      ...           ...
595        1          0.28
19         1          0.28
155        1          0.28
18         1          0.28
6          1          0.28

[197 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2016])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2016           194533               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2016           194533               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
194533      1        100.00

None

In [13]:
df_datos_2016.to_pickle("../datos/output/datos_2016_convertido.pkl")