In [1]:
# Tratamiento de datos
import pandas as pd
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
# Configuración
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
#importar la biblioteca de numpy:
import numpy as np
import os
import sys #permite navegar por el sistema
sys.path.append("../") #solo aplica al soporte
import src.soporte_EDA as se


pd.options.display.float_format = '{:.2f}'.format # para redondearlo todo a 2 decimales

In [2]:
os.listdir('../datos/raw/')

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv',
 'diccionario_datos.csv']

In [3]:
lista_archivos = os.listdir('../datos/raw/')[:-1]
lista_archivos

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv']

In [4]:
diccionario = se.carga_ficheros_csv('raw',lista_archivos)

In [5]:
df_datos_2017 = diccionario['df_2017']

# Anális datos año 2017

In [6]:
se.traducción_columnas(df_datos_2017)

In [7]:
df_datos_2017

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","198,00","0,00",29/08/2017,2017
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","2093,50","0,00",10/02/2017,2017
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","9329,40","0,00",27/11/2017,2017
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","2585,00","0,00",13/11/2017,2017
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","3936,00","0,00",03/05/2017,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190474,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTROS RESSARCIMENTOS-PRINCIPAL,"0,00","0,00","21,20","0,00",12/04/2017,2017
190475,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTROS RESSARCIMENTOS-PRINCIPAL,"0,00","0,00","5,00","0,00",07/12/2017,2017
190476,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTROS RESSARCIMENTOS-PRINCIPAL,"0,00","0,00","10,32","0,00",18/01/2017,2017
190477,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTROS RESSARCIMENTOS-PRINCIPAL,"0,00","0,00","4,07","0,00",13/06/2017,2017
190478,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTROS RESSARCIMENTOS-PRINCIPAL,"0,00","0,00","6,71","0,00",11/04/2017,2017

In [8]:
se.reporte(df_datos_2017)

La tabla tiene 190479 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,190479,0,0.00,24,190455
NOMBRE_ÓRGANO_SUPERIOR,object,190479,0,0.00,24,190455
CÓDIGO_ÓRGANO,int64,190479,0,0.00,271,190208
NOMBRE_ÓRGANO,object,190479,0,0.00,268,190211
CÓDIGO_UNIDAD_GESTORA,int64,190479,0,0.00,324,190155
NOMBRE_UNIDAD_GESTORA,object,190479,0,0.00,318,190161
CATEGORÍA_ECONÓMICA,object,190479,0,0.00,5,190474
ORIGEN_INGRESO,object,190479,0,0.00,15,190464
TIPO_INGRESO,object,190479,0,0.00,47,190432
DETALLE,object,190479,0,0.00,516,189963
VALOR_PREVISTO_ACTUALIZADO,object,190479,0,0.00,1827,188652
VALOR_REGISTRADO,object,190479,0,0.00,1043,189436
VALOR_REALIZADO,object,190479,0,0.00,128532,61947
PORCENTAJE_REALIZADO,object,190479,0,0.00,24,190455
FECHA_REGISTRO,object,190393,86,0.05,365,190113
AÑO_EJERCICIO,int64,190479,0,0.00,1,190478

In [9]:
se.conversion_columnas(df_datos_2017)

La tabla tiene 190479 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,190479,0,0.00,24,190455
NOMBRE_ÓRGANO_SUPERIOR,object,190479,0,0.00,24,190455
CÓDIGO_ÓRGANO,object,190479,0,0.00,271,190208
NOMBRE_ÓRGANO,object,190479,0,0.00,268,190211
CÓDIGO_UNIDAD_GESTORA,object,190479,0,0.00,324,190155
NOMBRE_UNIDAD_GESTORA,object,190479,0,0.00,318,190161
CATEGORÍA_ECONÓMICA,object,190479,0,0.00,5,190474
ORIGEN_INGRESO,object,190479,0,0.00,15,190464
TIPO_INGRESO,object,190479,0,0.00,47,190432
DETALLE,object,190479,0,0.00,516,189963
VALOR_PREVISTO_ACTUALIZADO,float64,190479,0,0.00,1827,188652
VALOR_REGISTRADO,float64,190479,0,0.00,1043,189436
VALOR_REALIZADO,float64,190479,0,0.00,128532,61947
PORCENTAJE_REALIZADO,float64,190479,0,0.00,24,190455
FECHA_REGISTRO,datetime64[ns],190393,86,0.05,365,190113
AÑO_EJERCICIO,int64,190479,0,0.00,1,190478

In [10]:
se.analisis_descriptivos_categóricas(df_datos_2017)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
63572,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.
67225,26000,Ministério da Educação,26263,Universidade Federal de Lavras,153032,UNIVERSIDADE FEDERAL DE LAVRAS,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.
107470,26000,Ministério da Educação,26294,Hospital de Clínicas de Porto Alegre,155001,HOSPITAL DE CLINICAS DE PORTO ALEGRE,Receitas Correntes,Receita de Serviços,Serviços e Atividades Referentes à Saúde,SERVICOS DE ATENDIMENTO A SAUDE-PRINCIPAL
11607,55000,Ministério da Cidadania,55000,Ministério da Cidadania - Unidades com vínculo...,180077,SETORIAL ORCAMENTARIA E FINANCEIRA - (ME),Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL
97402,26000,Ministério da Educação,26258,Universidade Tecnológica Federal do Paraná,153019,UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,190479,24,26000,70837
NOMBRE_ÓRGANO_SUPERIOR,190479,24,Ministério da Educação,70837
CÓDIGO_ÓRGANO,190479,271,25000,14158
NOMBRE_ÓRGANO,190479,268,Ministério da Economia - Unidades com vínculo ...,14158
CÓDIGO_UNIDAD_GESTORA,190479,324,170013,11227
NOMBRE_UNIDAD_GESTORA,190479,318,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,11227
CATEGORÍA_ECONÓMICA,190479,5,Receitas Correntes,182668
ORIGEN_INGRESO,190479,15,Outras Receitas Correntes,68818
TIPO_INGRESO,190479,47,Serviços Administrativos e Comerciais Gerais,51633
DETALLE,190479,516,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,29841

In [11]:
se.analisis_descriptivos_numéricas(df_datos_2017)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
176536,0.00,0.00,12346.72,0.00,2017-10-30,2017
181556,0.00,0.00,6.00,0.00,2017-01-02,2017
98695,0.00,0.00,1850.00,0.00,2017-10-19,2017
178495,0.00,0.00,28151.24,0.00,2017-11-09,2017
82687,0.00,0.00,1008.06,0.00,2017-02-20,2017

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,190479.00,17925228.58,-214773743.00,0.00,0.00,0.00,925084468997.00,2790439139.17
VALOR_REGISTRADO,190479.00,2414426.20,-12957230886.98,0.00,0.00,0.00,84511925102.12,283840022.29
VALOR_REALIZADO,190479.00,13429550.83,-24922519115.56,216.81,2234.20,29537.58,100717273794.67,428785098.18
PORCENTAJE_REALIZADO,190479.00,0.01,0.00,0.00,0.00,0.00,742.00,1.85
FECHA_REGISTRO,190393,2017-06-29 20:17:41.055815936,2017-01-01 00:00:00,2017-03-30 00:00:00,2017-06-30 00:00:00,2017-09-28 00:00:00,2017-12-31 00:00:00,NaN
AÑO_EJERCICIO,190479.00,2017.00,2017.00,2017.00,2017.00,2017.00,2017.00,0.00

# Análisis columnas de forma individual
## Año 2017

In [12]:
for columna in df_datos_2017.columns:
    print(se.analisis_individual_columnas(df_datos_2017, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 24 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '33000', '36000', '41000',
       '57000', '35000', '32000', '49000', '53000', '51000', '44000',
       '38000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   70837                37.19
25000                   30592                16.06
52000                   17644                 9.26
22000                    9018                 4.73
30000                    7229                 3.80
36000                    7183                 3.77
39000                    6842                 3.59
53000                    6628                 3.48
24000                    6076                 3.19
32000                    5947                 3.12

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
55000                    1599                 0.84
20000                    1274                 0.67
35000                     841                 0.44
49000                     197                 0.10
81000                     166                 0.09
37000                      85                 0.04
38000                      75                 0.04
51000                      39                 0.02
57000                      25                 0.01
33000                      24                 0.01

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
70837      1          4.17
30592      1          4.17
17644      1          4.17
9018       1          4.17
7229       1          4.17
7183       1          4.17
6842       1          4.17
6628       1          4.17
6076       1          4.17
5947       1          4.17
5920       1          4.17
5748       1          4.17
4778       1          4.17
1712       1          4.17
1599       1          4.17
1274       1          4.17
841        1          4.17
197        1          4.17
166        1          4.17
85         1          4.17
75         1          4.17
39         1          4.17
25         1          4.17
24         1          4.17

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 24 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Agrário',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Trabalho e Emprego',
       'Ministério do Turismo', 'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         70837                37.19
Ministério da Economia                         30592                16.06
Ministério da Defesa                           17644                 9.26
Ministério da Agricultura, Pecuária e Abastec   9018                 4.73
Ministério da Justiça e Segurança Pública       7229                 3.80
Ministério da Saúde                             7183                 3.77
Ministério da Infraestrutura                    6842                 3.59
Ministério do Desenvolvimento Regional          6628                 3.48
Ministério da Ciência, Tecnologia, Inovações    6076                 3.19
Ministério de Minas e Energia                   5947                 3.12

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Cidadania                         1599                 0.84
Presidência da República                        1274                 0.67
Ministério das Relações Exteriores               841                 0.44
Ministério do Desenvolvimento Agrário            197                 0.10
Ministério da Mulher, Família e Direitos Huma    166                 0.09
Controladoria-Geral da União                      85                 0.04
Ministério do Trabalho e Emprego                  75                 0.04
Ministério do Esporte                             39                 0.02
Ministério das Mulheres, Igualdade Racial, da     25                 0.01
Ministério da Previdência Social                  24                 0.01

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
70837      1          4.17
30592      1          4.17
17644      1          4.17
9018       1          4.17
7229       1          4.17
7183       1          4.17
6842       1          4.17
6628       1          4.17
6076       1          4.17
5947       1          4.17
5920       1          4.17
5748       1          4.17
4778       1          4.17
1712       1          4.17
1599       1          4.17
1274       1          4.17
841        1          4.17
197        1          4.17
166        1          4.17
85         1          4.17
75         1          4.17
39         1          4.17
25         1          4.17
24         1          4.17

None
La categoría CÓDIGO_ÓRGANO tiene 271 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '66000', '37000', '22211', '22201', '22000', '22202',
       '44208', '20129', '22905', '49001', '55001', '55000', '20301',
       '24000', '24901', '20402', '20501', '49280', '24209', '20502',
       '52904', '52000', '52132', '52133', '52911', '52131', '52111',
       '52221', '52121', '52211', '31280', '52233', '52222', '25000',
       '30203', '25203', '37904', '37202', '38901', '25916', '20924',
       '25201', '25207', '25205', '28500', '25211', '22500', '61201',
       '25905', '25904', '71902', '20603', '20202', '25915', '25901',
       '30204', '37201', '90000', '33206', '25914', '25208', '26443',
       '26263', '26424', '26410', '26277', '26298', '26234', '26245',
       '26238', '26236', '26242', '26412', '26246', '26271', '26294',
       '26241', '26243', '26426', '26406', '26244', '26268', '26411',
       '26350', '26276', '26421', '26284', '26447', '26233', '26442',
       '26413', '26408', '26441', '26260', '26420', '26352', '26250',
       '26402', '26270', '26255', '26247', '26273', '26416', '26232',
       '26254', '26431', '26448', '26283', '26249', '26434', '26433',
       '26239', '26419', '26291', '26404', '26405', '26439', '26278',
       '26450', '26258', '26248', '26279', '26440', '26436', '26201',
       '26257', '26262', '26237', '26403', '26292', '26264', '26407',
       '26275', '26261', '26230', '26267', '26415', '26428', '26274',
       '26269', '26285', '26266', '26231', '26435', '26418', '26438',
       '26240', '26423', '26251', '26449', '26252', '26256', '26272',
       '26351', '26282', '26409', '26417', '26281', '26432', '26290',
       '26429', '26235', '26427', '26422', '26000', '26280', '26437',
       '26253', '26430', '26414', '26286', '26425', '62201', '39252',
       '39250', '29209', '39815', '56901', '39811', '39816', '68201',
       '39813', '39253', '49901', '39814', '39000', '62901', '39812',
       '39817', '30907', '30108', '30912', '30911', '30211', '30905',
       '30202', '30205', '30000', '30802', '30914', '30913', '20122',
       '81000', '33000', '36213', '36211', '36000', '36201', '36210',
       '36212', '41903', '41231', '41232', '41000', '20415', '64901',
       '64902', '35201', '35000', '32205', '32314', '32263', '29208',
       '32210', '32000', '20302', '20303', '49000', '53901', '22204',
       '22203', '29214', '74918', '53203', '53902', '74919', '53000',
       '44205', '53903', '53202', '53207', '74917', '29205', '56902',
       '91214', '20701', '44207', '44206', '44204', '44000', '44902',
       '38000', '34902', '54901', '20404', '20203', '20408', '42207',
       '20411', '20604', '54000', '20412', '20403', '20101', '20116',
       '64000', '67000', '60000', '20117', '24208'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          14158                 7.43
52904           4506                 2.37
52132           3946                 2.07
34902           3240                 1.70
22202           2605                 1.37
41231           2339                 1.23
20701           2305                 1.21
52000           2236                 1.17
36000           2198                 1.15
32263           2144                 1.13

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
32314             12                 0.01
39812             11                 0.01
64901             10                 0.01
81000              9                 0.00
90000              8                 0.00
60000              6                 0.00
20122              3                 0.00
39815              2                 0.00
39814              2                 0.00
67000              1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
36         3          1.11
27         3          1.11
1033       2          0.74
711        2          0.74
418        2          0.74
...      ...           ...
10         1          0.37
8          1          0.37
6          1          0.37
3          1          0.37
1          1          0.37

[248 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 268 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União',
       'Controladoria-Geral da União - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Serviço Florestal Brasileiro',
       'Secretaria Especial de Agricultura Familiar e do Desenvolvimento Agrário',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Fundo Nacional de Assistência Social',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Comissão Nacional de Energia Nuclear',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Agência Espacial Brasileira',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Empresa Brasileira de Correios e Telégrafos',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Financiadora de Estudos e Projetos', 'Fundo do Exército',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Comando da Marinha - Fundo Naval',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Fundo Aeronáutico', 'Comando da Marinha',
       'Comando da Aeronáutica', 'Indústria de Material Bélico do Brasil',
       'Comando do Exército',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Amazônia Azul Tecnologia de Defesa S.A.', 'Fundação Osório',
       'Ministério da Economia - Unidades com vínculo direto',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Comissão de Valores Mobiliários',
       'Fundo do Regime Geral da Previdência Social',
       'Instituto Nacional do Seguro Social',
       'Fundo de Amparo ao Trabalhador',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Fundo Nacional de Desenvolvimento',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Serviço Federal de Processamento de Dados',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Casa da Moeda do Brasil',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Estabilidade do Seguro Rural',
       'Fundo Soberano do Brasil',
       'Superintendência da Zona Franca de Manaus',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Compensação de Variações Salariais',
       'Instituto Nacional da Propriedade Industrial',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Reserva de Contingência',
       'Superintendência Nacional de Previdência Complementar',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Empresa Brasileira de Serviços Hospitalares',
       'Universidade Federal de Lavras', 'Instituto Federal do Tocantins',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Ouro Preto',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal do Rio de Janeiro',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal Fluminense',
       'Universidade Federal de Pernambuco',
       'Instituto Federal do Sul de Minas Gerais',
       'Universidade Federal de Santa Catarina',
       'Fundação Universidade de Brasília',
       'Hospital de Clínicas de Porto Alegre',
       'Universidade Federal do Paraná',
       'Universidade Federal do Rio Grande do Norte',
       'Instituto Federal do Amapá',
       'Instituto Federal do Espírito Santo',
       'Universidade Federal do Rio Grande do Sul',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade Federal da Grande Dourados',
       'Fundação Universidade Federal do Mato Grosso',
       'Instituto Federal de Rondônia',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade Federal do Oeste da Bahia',
       'Universidade Federal do Ceará',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Triângulo Mineiro',
       'Instituto Federal do Maranhão',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal de Alfenas', 'Instituto Federal Farroupilha',
       'Fundação Universidade Federal do ABC',
       'Universidade Federal de Roraima', 'Instituto Federal de Alagoas',
       'Fundação Universidade do Amazonas',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Universidade Federal de Santa Maria',
       'Universidade Federal do Rio Grande', 'Instituto Federal do Pará',
       'Universidade Federal da Bahia',
       'Universidade Federal do Triângulo Mineiro',
       'Instituto Federal do Piauí',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Fluminense',
       'Instituto Federal do Rio de Janeiro',
       'Universidade Federal do Pará',
       'Instituto Federal do Rio Grande do Sul',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal Baiano', 'Instituto Federal do Ceará',
       'Instituto Federal de São Paulo',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Sul da Bahia',
       'Universidade Tecnológica Federal do Paraná',
       'Universidade Federal Rural de Pernambuco',
       'Fundação Universidade Federal do Piauí',
       'Universidade Federal da Fronteira Sul',
       'Instituto Federal Sul-rio-grandense', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de São Paulo',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal do Amazonas', 'Fundação Joaquim Nabuco',
       'Universidade Federal Rural do Semi-Árido',
       'Instituto Federal Goiano',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal da Integração Latino-Americana',
       'Instituto Federal do Mato Grosso do Sul',
       'Instituto Federal de Brasília',
       'Fundação Universidade Federal de Uberlândia',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal de São João Del-Rei',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Alagoas',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal de Pernambuco',
       'Instituto Federal de Santa Catarina',
       'Universidade Federal da Paraíba', 'Instituto Federal de Sergipe',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Cariri',
       'Universidade Federal de Campina Grande',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Fundação Universidade do Maranhão',
       'Universidade Federal do Recôncavo da Bahia',
       'Universidade Federal de Viçosa',
       'Instituto Federal de Minas Gerais',
       'Instituto Federal da Paraíba',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Federal do Paraná',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal de Goiás', 'Instituto Federal da Bahia',
       'Instituto Federal Catarinense',
       'Ministério da Educação - Unidades com vínculo direto',
       'Fundação Universidade Federal de São Carlos',
       'Instituto Federal de Roraima',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal do Sertão de Pernambuco',
       'Instituto Federal do Mato Grosso',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Acre', 'Agência Nacional de Aviação Civil',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Agência Nacional de Transportes Terrestres',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Companhia Docas do Rio Grande do Norte',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Companhia Docas do Rio de Janeiro',
       'Companhia Docas do Estado de São Paulo',
       'Agência Nacional de Transportes Aquaviários',
       'Companhia Docas do Ceará',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento do Fundo da Marinha Mercante',
       'Companhia Docas do Pará',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Fundo Nacional de Aviação Civil',
       'Companhia Docas do Estado da Bahia',
       'Companhia Docas do Espírito Santo',
       'Fundo Penitenciário Nacional', 'Departamento de Polícia Federal',
       'Fundo Nacional Antidrogas', 'Fundo Nacional de Segurança Pública',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundação Nacional do Índio',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Rodoviária Federal',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Secretaria Nacional de Políticas para Mulheres',
       'Ministério da Mulher, Família e Direitos Humanos - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Agência Nacional de Saúde Suplementar',
       'Fundação Nacional de Saúde',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agência Nacional de Vigilância Sanitária',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Agêncial Nacional de Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'Empresa Brasil de Comunicação', 'Fundação Alexandre de Gusmão',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Empresa de Pesquisa Energética',
       'Departamento Nacional de Produção Mineral',
       'Companhia de Pesquisa de Recursos Minerais',
       'Agência Nacional de Energia Elétrica',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Indústrias Nucleares do Brasil',
       'Ministério do Desenvolvimento Agrário - Unidades com vínculo direto',
       'Fundo Constitucional de Financiamento do Norte',
       'Departamento Nacional de Obras Contra as Secas',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo de Desenvolvimento do Nordeste',
       'Superintendência do Desenvolvimento do Nordeste',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Superintendência do Desenvolvimento da Amazônia',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento da Amazônia',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Fundo Nacional de Habitação de Interesse Social',
       'Autoridade Pública Olímpica',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Ministério do Trabalho e Emprego - Unidades com vínculo direto',
       'Fundo Nacional de Cultura', 'Fundo Geral de Turismo',
       'Fundação Biblioteca Nacional', 'Agência Nacional do Cinema',
       'Fundação Cultural Palmares', 'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Instituto Brasileiro de Turismo',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Nacional de Artes', 'Fundação Casa de Rui Barbosa',
       'Presidência da República', 'Fundo de Imprensa Nacional',
       'Secretaria de Direitos Humanos',
       'Secretaria de Políticas de Promoção da Igualdade Racial',
       'Gabinete da Vice-Presidência da República',
       'Instituto Nacional de Tecnologia da Informação'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...  14158                 7.43
Fundo do Exército                                    4506                 2.37
Comando da Marinha - Fundo Naval                     3946                 2.07
Fundo Nacional de Cultura                            3240                 1.70
Empresa Brasileira de Pesquisa Agropecuária          2605                 1.37
Agêncial Nacional de Telecomunicações                2339                 1.23
Instituto Brasileiro do Meio Ambiente e dos Rec...   2305                 1.21
Ministério da Defesa - Unidades com vínculo direto   2236                 1.17
Ministério da Saúde - Unidades com vínculo direto    2198                 1.15
Departamento Nacional de Produção Mineral            2144                 1.13

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Companhia Docas do Espírito Santo                      14                 0.01
Empresa de Pesquisa Energética                         12                 0.01
Companhia Docas do Estado da Bahia                     11                 0.01
Ministério da Mulher, Família e Direitos Humano...      9                 0.00
Reserva de Contingência                                 8                 0.00
Gabinete da Vice-Presidência da República               6                 0.00
Secretaria Nacional de Políticas para Mulheres          3                 0.00
Companhia Docas do Rio Grande do Norte                  2                 0.00
Companhia Docas do Pará                                 2                 0.00
Secretaria de Políticas de Promoção da Igualdad...      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
27         3          1.12
36         3          1.12
712        2          0.75
711        2          0.75
1033       2          0.75
...      ...           ...
11         1          0.37
8          1          0.37
6          1          0.37
3          1          0.37
1          1          0.37

[246 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 324 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '110174', '370001', '135100', '373001', '130101',
       '135037', '440088', '110690', '130137', '490003', '330013',
       '180077', '420002', '550002', '113209', '240102', '240101',
       '240901', '203001', '364001', '364999', '415001', '245209',
       '365001', '364102', '167086', '110407', '673001', '873001',
       '121002', '211999', '120002', '168002', '773001', '160075',
       '120999', '123001', '773008', '699999', '773009', '164204',
       '170010', '183023', '170013', '173030', '513001', '510001',
       '380910', '173065', '201924', '170196', '173057', '170266',
       '806001', '170358', '170204', '170073', '114601', '287001',
       '170229', '170086', '170232', '179083', '170167', '170107',
       '400042', '170285', '201002', '225001', '280102', '170233',
       '113601', '170033', '170238', '170380', '170268', '170154',
       '170215', '179103', '170474', '193028', '114702', '170392',
       '170381', '170101', '183038', '170076', '264001', '170237',
       '170231', '170267', '390001', '170234', '170265', '333001',
       '170356', '170026', '170230', '173039', '170357', '155007',
       '153032', '158131', '158121', '154046', '153173', '153046',
       '153115', '153062', '153056', '153080', '158137', '153163',
       '154040', '155001', '153079', '153103', '158150', '158151',
       '153114', '154055', '158123', '154502', '154045', '158148',
       '154032', '158717', '153045', '158565', '158099', '158128',
       '158515', '153028', '158127', '154503', '154080', '158147',
       '154039', '153036', '153164', '154042', '158135', '153038',
       '153035', '158146', '158718', '154054', '153166', '158139',
       '158157', '153063', '158141', '154999', '158129', '158133',
       '158154', '154047', '158720', '153019', '153165', '154048',
       '158517', '158126', '153167', '153015', '153031', '153061',
       '158142', '344002', '153033', '158124', '154044', '153030',
       '154421', '158658', '158132', '154003', '158143', '154043',
       '154034', '154069', '154359', '153037', '158155', '158136',
       '158516', '153065', '158274', '158134', '154419', '158719',
       '158195', '153010', '154041', '158092', '154051', '158122',
       '158138', '154050', '158009', '153978', '158153', '153052',
       '158145', '158125', '150014', '154049', '158152', '153034',
       '158149', '158144', '154215', '158156', '113214', '393003',
       '393001', '275075', '396005', '200320', '396001', '396006',
       '682010', '396003', '395001', '277001', '396004', '390002',
       '110591', '396002', '399002', '200333', '200336', '200246',
       '200331', '303001', '200401', '194088', '194040', '200094',
       '200109', '307002', '307001', '200021', '810002', '330002',
       '253003', '255014', '250088', '255011', '254420', '255000',
       '366003', '255003', '253002', '255008', '255015', '410007',
       '413001', '413047', '410002', '410003', '115406', '110244',
       '207001', '244001', '240005', '323030', '325001', '323002',
       '495001', '323028', '320002', '113208', '113206', '490002',
       '537002', '113802', '195006', '275068', '533009', '533014',
       '537003', '537004', '560003', '443003', '537001', '533013',
       '530002', '533018', '533008', '275060', '560015', '913001',
       '193034', '443032', '193129', '193120', '443019', '443045',
       '440002', '193125', '447001', '193112', '193107', '380010',
       '340002', '187002', '344042', '203003', '344041', '423001',
       '403101', '185001', '540001', '403201', '344001', '110005',
       '110245', '200016', '238012', '110101', '110246', '243001'],
      dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 11227                 5.89
167086                  4506                 2.37
340002                  3240                 1.70
673001                  3013                 1.58
135037                  2605                 1.37
413001                  2339                 1.23
193034                  2296                 1.21
110407                  2236                 1.17
250088                  2198                 1.15
323002                  2144                 1.13

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
158274                     1                 0.00
255014                     1                 0.00
255011                     1                 0.00
255008                     1                 0.00
255015                     1                 0.00
255003                     1                 0.00
240101                     1                 0.00
193129                     1                 0.00
193120                     1                 0.00
238012                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
5         27          8.33
1         11          3.40
2          5          1.54
36         3          0.93
27         3          0.93
...      ...           ...
1965       1          0.31
1952       1          0.31
1905       1          0.31
1850       1          0.31
3013       1          0.31

[260 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 318 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA/SE/CGU',
       'DIRETORIA DE GESTAO INTERNA(CGU)',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA', 'EMBRAPA-SETORIAL',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'SEC.ESPEC.DE AGRIC.FAMIL.E DO DESENV.AGRARIO',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO', 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - (ME)',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC', 'CNEN-ORCAMENTO E FINANCAS',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'COORDENACAO-GERAL DE RECURSOS LOGISTICOS',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'AGENCIA ESPACIAL BRASILEIRA/AEB', 'CNPQ - ADMINISTRACAO CENTRAL',
       'CNPQ - DIFERENCIA CAMBIAL',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'FINANCIADORA DE ESTUDOS E PROJETOS',
       'CONSELHO NAC DE DESENV CIENT E TECNOLOGICO', 'FUNDO DO EXERCITO',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'MARINHA - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA', 'MAER - DIFERENCA CAMBIAL',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL', 'FUNDACAO OSORIO',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'COMISSAO DE VALORES MOBILIARIOS',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'PROCURADORIA DA FAZENDA NACI0NAL/GO', 'BANCO CENTRAL DO BRASIL',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/PE',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'PROCURADORIA DA FAZ.NAC. NO ESTADO DO AMAPA',
       'PROCURADORIA-REGIONAL DA FAZ.NAC.1A.REGIAO/DF',
       'PROCURADORIA DA FAZENDA NACIONAL-SE',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'PROCURADORIA DA FAZENDA NACIONAL/MT',
       'PROCURADORIA DA FAZENDA NACIONAL - MG',
       'PROCURADORIA DA FAZENDA NACIONAL/AL', 'CASA DA MOEDA DO BRASIL',
       'PROCURADORIA DA FAZENDA NACIONAL/SC',
       'PROCURADORIA DA FAZENDA NACIONAL-MS',
       'COORD-GERAL DE ORC., FIN. E CONT.-CGOFC (MTP)',
       'PROCURADORIA FAZ.NACIONAL NO EST.TOCANTINS',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'PROCURADORIA DA FAZENDA NACIONAL/AM',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'PROCURADORIA DA FAZENDA NACIONAL - PI',
       'PROCURADORIA DA FAZENDA NACIONAL/RR',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/SP',
       'PROCURADORIA DA FAZENDA NACIONAL-PR',
       'PROCURADORIA DA FAZENDA NACIONAL/PA',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'FUNDO SOBERANO DO BRASIL',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'PROCURADORIA DA FAZENDA NACIONAL-ES',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'PROCURADORIA DA FAZENDA NACIONAL - BA',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'PROCURADORIA DA FAZENDA NACIONAL/AC',
       'PROCURADORIA DA FAZENDA NACIONAL/PB',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/RJ',
       'RESERVA DE CONTINGENCIA/MEFP',
       'PROCURADORIA DA FAZENDA NACIONAL/RN',
       'PROCURADORIA REGIONAL DA F.NACIONAL/4A REGIAO',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'PROCURADORIA DA FAZENDA NACIONAL - MA',
       'PROCURADORIA DA FAZENDA NACIONAL/CE',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'PROCURADORIA DA FAZENDA NACIONAL EM RONDONIA',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE', 'REITORIA',
       'UNIVERSIDADE FEDERAL DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS', 'CAPES - DIFERENCA CAMBIAL',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'COLEGIO PEDRO II', 'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'FUNDACAO JOAQUIM NABUCO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN', 'IF GOIANO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'IFB - REITORIA - BRASILIA-DF',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'UNIVERSIDADE FEDERAL DE VICOSA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS', 'IFPB - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST. FED. DO PARANA/ REITORIA',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'COMPANHIA DOCAS DO RIO DE JANEIRO',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'COMPANHIA DOCAS DO CEARA',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'FUNDO DA MARINHA MERCANTE', 'COMPANHIA DOCAS DO PARA',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'COMPANHIA DOCAS DO ESPIRITO SANTO', 'DEPEN - DIRETORIA EXECUTIVA',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO NACIONAL ANTIDROGAS',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'RENDA DO PATRIMONIO INDIGENA',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL', 'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'SECRETARIA DE POLITICAS PARA AS MULHERES',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - MDH',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'FUNDACAO NACIONAL DE SAUDE - MT', 'FUNDACAO OSWALDO CRUZ',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'EMPRESA DE PESQUISA ENERGETICA',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'SUBSEC. DE PLANEJ., ORCAMENTO E ADMINISTRACAO',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'ORCAMENTO E FINANCAS/MDR',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'AUTORIDADE PUBLICA OLIMPICA',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'IBAMA - SUPERINTENDENCIA DE SAO PAULO/SP',
       'IBAMA - SUPERINTENDENCIA RIO GRANDE NORTE/RN',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'IBAMA - SUPERINTENDENCIA DE SANTA CATARINA/SC',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - SUPERINTENDENCIA MATO GROSSO SUL/MS',
       'IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES',
       'COORD-GERAL DE ORCAM., FIN. E CONTABILIDADE',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'FUNDO GERAL DE TURISMO-FUNGETUR', 'FUNDACAO BIBLIOTECA NACIONAL',
       'AGENCIA NACIONAL DO CINEMA', 'FUNDACAO CULTURAL PALMARES',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO NACIONAL DE ARTES',
       'FUNDACAO CASA DE RUI BARBOSA',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'SECRETARIA DE DIREITOS HUMANOS/PR',
       'SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                              count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME       11227                 5.89
FUNDO DO EXERCITO                              4506                 2.37
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM   3714                 1.95
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC    3240                 1.70
EMBRAPA-SETORIAL                               2605                 1.37
AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE      2339                 1.23
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ   2296                 1.21
DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)    2236                 1.17
SPO-COORD.-GERAL DE ORC.E FINANCAS/MS          2198                 1.15
DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE   2144                 1.13

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES      1                 0.00
IBAMA - SUPERINTENDENCIA DE SAO PAULO/SP           1                 0.00
IBAMA - SUPERINTENDENCIA RIO GRANDE NORTE/RN       1                 0.00
INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO          1                 0.00
FUNDACAO NACIONAL DE SAUDE - MT                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - PA                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - PB                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - AP                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - ES                    1                 0.00
SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
5         27          8.49
1         10          3.14
2          4          1.26
418        3          0.94
27         3          0.94
...      ...           ...
18         1          0.31
6          1          0.31
8          1          0.31
9          1          0.31
4          1          0.31

[256 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias', 'Sem informação',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         182668                95.90
Receitas de Capital                          5081                 2.67
Receitas Correntes - intra-orçamentárias     2585                 1.36
Sem informação                                135                 0.07
Receitas de Capital - intra-orçamentárias      10                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         182668                95.90
Receitas de Capital                          5081                 2.67
Receitas Correntes - intra-orçamentárias     2585                 1.36
Sem informação                                135                 0.07
Receitas de Capital - intra-orçamentárias      10                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
182668      1         20.00
5081        1         20.00
2585        1         20.00
135         1         20.00
10          1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes', 'Receitas Correntes - a classificar',
       'Receita Patrimonial', 'Receita de Serviços',
       'Operações de Crédito', 'Alienação de Bens', 'Contribuições',
       'Transferências de Capital', 'Amortizações de Empréstimos',
       'Transferências Correntes',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Receita Agropecuária', 'Receita Industrial', 'Sem informação',
       'Outras Receitas de Capital'], dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                    68818                36.13
Receita de Serviços                          58896                30.92
Receita Patrimonial                          29357                15.41
Impostos, Taxas e Contribuições de Melhoria  11938                 6.27
Contribuições                                 8429                 4.43
Receita Industrial                            3412                 1.79
Receita Agropecuária                          2273                 1.19
Alienação de Bens                             2150                 1.13
Amortizações de Empréstimos                   1968                 1.03
Transferências Correntes                      1204                 0.63

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Receita Industrial                   3412                 1.79
Receita Agropecuária                 2273                 1.19
Alienação de Bens                    2150                 1.13
Amortizações de Empréstimos          1968                 1.03
Transferências Correntes             1204                 0.63
Receitas Correntes - a classificar    926                 0.49
Operações de Crédito                  690                 0.36
Outras Receitas de Capital            173                 0.09
Sem informação                        135                 0.07
Transferências de Capital             110                 0.06

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
68818      1          6.67
58896      1          6.67
29357      1          6.67
11938      1          6.67
8429       1          6.67
3412       1          6.67
2273       1          6.67
2150       1          6.67
1968       1          6.67
1204       1          6.67
926        1          6.67
690        1          6.67
173        1          6.67
135        1          6.67
110        1          6.67

None
La categoría TIPO_INGRESO tiene 47 elementos diferentes:

Los elementos de la categoría son:

array(['Demais receitas correntes',
       'Multas administrativas, contratuais e judicia',
       'Indenizações, restituições e ressarcimentos',
       'Receitas Correntes - a classificar',
       'Exploração do patrimônio imobiliário do Estad',
       'Serviços Administrativos e Comerciais Gerais',
       'Operações de crédito - mercado externo',
       'Alienação de bens móveis', 'Contribuições sociais',
       'Contribuições econômicas', 'Outros serviços',
       'Transferências da União e de suas Entidades',
       'Alienação de bens imóveis', 'Amortizações de Empréstimos',
       'Transferências de Outras Instituições Pública',
       'Exploração de recursos naturais', 'Transferências de Convênios',
       'Transferências de Instituições Privadas',
       'Transferências dos Estados e do Distrito Fede', 'Taxas',
       'Receita Agropecuária', 'Serviços e Atividades Financeiras',
       'Valores Mobiliários', 'Receita Industrial',
       'Transferências dos Municípios e de suas Entid',
       'Operações de crédito - mercado interno',
       'Indenizações e restituições',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Transferências de Pessoas Físicas',
       'Transferências Provenientes de Depósito Não I',
       'Delegação de Serviços Públicos Mediante Conce',
       'Serviços e Atividades Referentes à Saúde',
       'Serviços e Atividades Referentes à Navegação ',
       'Exploração do patrimônio intangível', 'Cessão de direitos',
       'Transferências Correntes', 'Demais receitas patrimoniais',
       'Impostos', 'Sem informação', 'Receita de concessões e permissões',
       'Resultado do Banco Central do Brasil',
       'Transferências do Exterior',
       'Contribuições para Entidades Privadas de Serv',
       'Remuneração das Disponibilidades do Tesouro',
       'Alienação de bens intangíveis', 'Receitas de valores mobiliários',
       'Resgate de Títulos do Tesouro'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   51633                27.11
Indenizações, restituições e ressarcimentos    35364                18.57
Multas administrativas, contratuais e judicia  21473                11.27
Exploração do patrimônio imobiliário do Estad  16766                 8.80
Demais receitas correntes                      10611                 5.57
Taxas                                           9196                 4.83
Valores Mobiliários                             5513                 2.89
Contribuições econômicas                        4895                 2.57
Contribuições sociais                           3521                 1.85
Exploração de recursos naturais                 3424                 1.80

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Exploração do patrimônio intangível               20                 0.01
Transferências Correntes                          15                 0.01
Contribuições para Entidades Privadas de Serv     13                 0.01
Transferências de Convênios                        8                 0.00
Resultado do Banco Central do Brasil               4                 0.00
Transferências de Outras Instituições Pública      3                 0.00
Transferências do Exterior                         3                 0.00
Receitas de valores mobiliários                    3                 0.00
Alienação de bens intangíveis                      2                 0.00
Resgate de Títulos do Tesouro                      1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
3          3          6.38
35364      1          2.13
21473      1          2.13
16766      1          2.13
51633      1          2.13
9196       1          2.13
5513       1          2.13
4895       1          2.13
3521       1          2.13
3424       1          2.13
3412       1          2.13
3221       1          2.13
10611      1          2.13
2742       1          2.13
2464       1          2.13
1968       1          2.13
2273       1          2.13
1567       1          2.13
1394       1          2.13
1284       1          2.13
1838       1          2.13
926        1          2.13
864        1          2.13
599        1          2.13
351        1          2.13
339        1          2.13
253        1          2.13
194        1          2.13
1239       1          2.13
185        1          2.13
168        1          2.13
146        1          2.13
153        1          2.13
131        1          2.13
72         1          2.13
54         1          2.13
135        1          2.13
39         1          2.13
20         1          2.13
13         1          2.13
15         1          2.13
8          1          2.13
4          1          2.13
2          1          2.13
1          1          2.13

None
La categoría DETALLE tiene 516 elementos diferentes:

Los elementos de la categoría son:

array(['OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.',
       'OUTROS RESSARCIMENTOS-PRINCIPAL',
       'ENCARGOS LEGAIS PELA INSCR.EM DIV.AT.-MUL.JUR',
       'MULTAS APLICADAS PELOS TRIB.DE CONTAS-PRINC.',
       'Receitas Correntes - a classificar',
       'OUTRAS RESTITUICOES-PRINCIPAL',
       'OUTRAS RECEITAS IMOBILIARIAS-MULTAS E JUROS',
       'RESSARCIMENTO DE CUSTOS-MULTAS E JUROS',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-PRINC.',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-MUL.JUR',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.',
       'ONUS DE SUCUMBENCIA-PRINCIPAL',
       'ENCARGOS LEGAIS PELA INSCR.EM DIV.ATIVA-PRINC',
       'RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.',
       'ONUS DE SUCUMBENCIA-MULTAS E JUROS',
       'OUTRAS INDENIZACOES-PRINCIPAL',
       'OUTRAS RECEITAS IMOBILIARIAS-PRINCIPAL',
       'OUTRAS INDENIZACOES-MULTAS E JUROS',
       'RESTIT.DE DESPESAS EXERC.ANTERIORES-MUL.JUR.',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.',
       'OUTRAS RESTITUICOES-MULTAS E JUROS',
       'OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-DIV.AT.',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.',
       'OP.DE CREDITO CONTRATUAIS-MERC.EXTERNO-PRINC.',
       'ALIENACAO DE ESTOQUES DA PGPM-PRINCIPAL',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PRINCIPAL',
       'ADICIONAL À CONTR.PREVIDENCIÁRIA RURAL-PRINC.',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-DIV.AT.',
       'OUTROS SERVICOS-PRINCIPAL',
       'TRANSFER.DA UNIAO E DE SUAS ENTIDADES-PRINC.',
       'ALIENACAO DE BENS IMOVEIS-MULTAS E JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-MUL.JUR',
       'AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.',
       'TRANSF.DE OUTRAS INSTITUICOES PUBLICAS-PRINC.',
       'CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.',
       'CONCESSAO FLOREST.NACIONAIS-DEM.VAL.-MUL.JUR.',
       'CONCESSAO FLORESTAS NACIONAIS-VAL.MIN.-PRINC.',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL',
       'CONCESSAO FLORESTAS NACIONAIS-DEM.VAL.-PRINC.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL',
       'TRANSFERENCIAS DO EXTERIOR-PRINCIPAL',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS-PRINC',
       'TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-PRINC.',
       'RECEITA AGROPECUÁRIA-PRINCIPAL',
       'ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-MUL.JUR.',
       'OUTRAS INDENIZACOES-DIVIDA ATIVA',
       'ALIENACAO DE BENS IMOVEIS-JUROS',
       'AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.',
       'RESTITUICAO DE RECURSOS DE FOMENTO-PRINCIPAL',
       'ALIEN.ESTOQ.PROG.AQUIS.ALIMENTOS-PAA-PRINC.',
       'RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-MUL.JUR.',
       'ALIENACAO DE BENS IMOVEIS-MULTAS',
       'ALIENACAO DE BENS IMOVEIS-PRINCIPAL',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL',
       'RECEITA INDUSTRIAL-PRINCIPAL',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-MUL.JUR.',
       'TRANSF.DOS MUNICIPIOS E SUAS ENTIDADES-PRINC.',
       'INDENIZACAO POR SINISTRO-PRINCIPAL',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL',
       'CONTR.S/APOSTAS EM COMPETIÇÕES HÍPICAS-PRINC.',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'AMORTIZACAO EMPRESTIMOS CONTRATUAIS-MUL.JUR.',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL',
       'OUTRAS RECEITAS-FINANCEIRAS-DIVIDA ATIVA',
       'OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-DIV.AT.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-PRINC.',
       'RESTIT.PARCELAS SEGURO DESEMPR.RECEB.INDEVID.',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.',
       'CONTRIBUICAO INDUSTRIAL RURAL-MULTAS E JUROS',
       'RECEITA INDUSTRIAL-MULTAS E JUROS',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZ.-MUL.JUR.',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-MUL.JUR',
       'RECEITA AGROPECUÁRIA-MULTAS E JUROS',
       'OUTROS RESSARCIMENTOS-DIVIDA ATIVA', 'OUTRAS RESTITUIÇÕES',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.',
       'REMUN.SALDOS RECURSOS NAO-DESEMBOLSADOS-PRINC',
       'REMUN.SALDOS RECUR.NAO-DESEMBOLSADOS-MUL.JUR.',
       'ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.',
       'CONTRIBUIÇÃO SOBRE A LOTERIA FEDERAL-PRINCIP.',
       'ALIEN.DE BENS E MERCADORIAS APREENDIDOS-PRINC',
       'CONTRIBUIÇÃO SOBRE LOTERIAS ESPORTIVAS-PRINC.',
       'CONTRIB.S/CONCURS.PROGNÓST.-MOD.FUT-PRINCIPAL',
       'CONTRIBUIÇÃO SOBRE LOTERIAS DE NÚMEROS-PRINC.',
       'TRANSFERENCIAS DE PESSOAS FISICAS-PRINCIPAL',
       'OUTROS RESSARCIMENTOS-MULTAS E JUROS',
       'TRANSF.PROVENIENTES DEP.NAO IDENTIFIC.-PRINC.',
       'EMPRÉSTIMOS COMPULSÓRIOS',
       'COMPENS.FINAN.EXPL.RECURSOS MINERAIS-MUL.JUR.',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-MUL.JUR',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.',
       'OUTROS RESSARCIMENTOS-DIVIDA ATIVA-MUL.JUR.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-MUL.JUR.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-PRINC.',
       'CESSAO DIR.EXPLOR.SATELITE BRASILEIRO-PRINC.',
       'COTA-PARTE DO AFRMM-MULTAS E JUROS',
       'UTILIZACAO DE RECURSOS HIDRICOS-ITAIPU-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-MUL.JUR',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELEC.-MUL.JUR',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-MUL.JUR.',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-DIV.AT.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-MUL.JUR',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELÉTR.-PRINC.',
       'COTA-PARTE DO AFRMM-PRINCIPAL',
       'COMPENS.FIN.EXPL.REC.MINERAIS-DIV.AT.-MUL.JUR',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-PRINC.',
       'TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-PRINCIPAL',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.',
       'CONTR.P/DES.ENS.PROF.MARITIMO-DIV.AT-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARÍTIMO-PRINCIPAL',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-DIV.ATIVA',
       'OUTROS SERVICOS-MULTAS E JUROS',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-MUL.JUR',
       'SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.',
       'REVERSAO DE GARANTIAS-PRINCIPAL',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-MUL.JUR.',
       'CONTR.P/PREV.MIL.E CUST.PENSÕES MILIT-PRINC.',
       'SERVICOS DE NAVEGACAO-PRINCIPAL',
       'OUTORGA DIR.USO OU EXPL.CRIACAO PROTEG.-PRINC',
       'CESSAO DO DIR.OPERACIONALIZACAO PAGTOS-PRINC.',
       'JUROS DE TITULOS DE RENDA-PRINCIPAL',
       'SERVICOS DE ATENDIMENTO A SAUDE-MUL.JUR.', 'DIVIDENDOS-PRINCIPAL',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-PRINCIPAL',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINCIPAL',
       'SERVICOS DE ATENDIMENTO A SAUDE-PRINCIPAL',
       'SERVICOS PORTUARIOS-PRINCIPAL', 'TARIFA AEROPORTUARIA-PRINCIPAL',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-MUL.JUR.',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-MUL.JUR.',
       'SERVICOS DE TRANSPORTE-PRINCIPAL',
       'DEMAIS RECEITAS PATRIMONIAIS-PRINCIPAL',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-MULT.E JUROS',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.',
       'OP.CREDITO CONTRATUAIS-MERCADO INTERNO-PRINC.',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-PRINCIPAL',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL',
       'CONTR.P/PREV.MIL.E CUST.PENSÕES MILIT-MUL.JUR',
       'CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-MUL.JUR',
       'TX.INSP,CONTROL.E FISCALIZ.-DÍV.AT.-MUL.JUR.',
       'IRRF-TRABALHO-MULTAS/JUROS-INTRA ORÇAMENTÁRIA',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-MUL.JUR.',
       'CONTRIB.S/SORT.REALIZ.POR ENT.FILANT.-MUL.JUR',
       'IRPF-JUROS DA DÍVIDA ATIVA',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS DÍV.ATIVA',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-MULTAS E JUROS',
       'CONDECINE-PRINCIPAL',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-DIV.AT',
       'CONTR.P/FUNDOS ASSIST.MÉD-BOMB.MILIT.-PRINC.',
       'IOF-DEMAIS OPERAÇÕES-DÍVIDA ATIVA',
       'CONTRIB.DO PENSIONISTA PARA O RPPS-PRINC.',
       'IMPOSTO SOBRE A IMPORTACAO-DIV.AT.-MUL.JUR.',
       'CONTR.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-DIV.AT',
       'CONTR.S/APOSTAS COMPET.HIPICAS-DIV.AT-MUL.JUR', 'Sem informação',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-PRINCIPAL',
       'CONTRIBUIÇÕES P/O RGPS-DÍVIDA ATIVA',
       'RESTIT.PARCELAS SEG.DESEMP.REC.INDEV.-MUL.JUR',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-DÍV.AT',
       'CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-PRINC.',
       'IRRF-TRABALHO-PRINCIPAL',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-P.SAL-PRINC.',
       'ROY.PETR.PLAT.-PARTILHA-COM.A P.3/12/12-PRINC',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-MUL.JUR.',
       'RESTITUIÇÃO DE BENEFÍCIOS PREVIDENCIÁRIOS',
       'RESTIT.PARCELAS SEG.DESEMPR.REC.INDEV.-PRINC.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS E JUROS', 'COFINS-DÍVIDA ATIVA',
       'CONTR.SERV.INAT.P/RPPS ORIG SENT.JUD-PRINC.',
       'IPI-OUTROS PRODUTOS-DIVIDA ATIVA-MUL.JUR.',
       'CONDECINE-MULTAS E JUROS',
       'RES.BACEN-OP.C/RESERV.E DERIV.CAMBIAIS-PRINC.',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-MUL.JUR.',
       'COTA-PARTE DO AFRMM-JUROS DA DÍVIDA ATIVA',
       'RESTIT.DEP.DE SENTENÇAS JUD.Ñ SACADOS-PRINC.',
       'RESTIT.DEP.DE SENTENÇAS JUD.Ñ SACADOS-MUL.JUR',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS DÍV.ATIVA',
       'CONTRIBUICOES P/O RGPS-DIVIDA ATIVA-MUL.JUR.',
       'CONTRIB.SOCIAL DO SALÁRIO-EDUCAÇÃO-PRINCIPAL',
       'ITR-MUNICIPIOS NAO CONVENIADOS-DIV.AT-MUL.JUR',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-PRINCIPAL',
       'CONTRIB.PATR.P/RPPS ORIUNDA SENT.JUD.-PRINC.',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-PRINC.',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-PRINC.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-DÍVIDA ATIVA',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-MUL.JUR.',
       'DIVIDENDOS-MULTAS E JUROS',
       'IRPJ-LIQUIDA DE INCENTIVOS-DIV.AT.-MUL.JUR.',
       'IRRF-OUTROS RENDIMENTOS-PRINCIPAL',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-MUL.JUR.',
       'DELEG.P/PREST.SERV.TRANSP.FERROVIARIO-PRINC.',
       'CONTR.P/FUNDOS ASSIST.MÉD-POLIC.MILIT-PRINC.',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-PRINC.',
       'IRRF-REMESSA AO EXTERIOR-MULTAS E JUROS',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-DÍVIDA ATIVA',
       'IPI-BEBIDAS-MULTAS E JUROS',
       'ROY.EXC.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC',
       'ITR-MUNICÍPIOS NÃO CONVENIADOS-DÍVIDA ATIVA',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-PRINC.',
       'TAXAS PELA PRESTACAO DE SERVICOS-PRINCIPAL',
       'IPI-OUTROS PRODUTOS-MULTAS/JUROS-INTRA ORÇAM.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-PRINCIPAL',
       'IRRF-OUTROS RENDIMENTOS-INTRA ORÇAMENTÁRIA',
       'CONTRAPART.DE SUBVENCOES OU SUBSIDIOS-PRINC.',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-PRINC.',
       'IPI-FUMO-MULTAS E JUROS', 'COTA-PARTE DO AFRMM-DIVIDA ATIVA',
       'IRPF-DÍVIDA ATIVA', 'RESSARCIMENTO AO RGPS-PRINCIPAL',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-MUL.JUR',
       'OUTRAS CONTRIBUIÇÕES SOCIAIS-DÍV.AT.-MUL.JUR.',
       'IMPOSTO SOBRE A IMPORTAÇÃO-JUROS DÍVIDA ATIVA',
       'JUROS SOBRE O CAPITAL PROPRIO-MULTAS E JUROS',
       'CONT.MOV.TRANSM.VAL.CR.DIR.FIN-JUROS DÍV.AT.',
       'CONDECINE-DIVIDA ATIVA',
       'MULTAS PREV.NA LEI GERAL DAS TELECOM.-PRINC.',
       'RESTIT.CONTRIB.PREVIDENCIÁRIAS COMPLEMENTARES',
       'IPI-FUMO-PRINCIPAL',
       'RESTITUICAO DE BENEFICIOS ASSISTENCIAIS-PRINC',
       'IPI-AUTOMÓVEIS-PRINCIPAL', 'COFINS-PRINCIPAL',
       'CIDE-REMESSAS AO EXTERIOR-DIV.AT.-MUL.JUR.',
       'IPI-VINCULADOS IMPORTAÇÃO-MULTAS/JUROS-INTRA',
       'OUTROS IMPOSTOS-MULTAS E JUROS',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-PRINCIPAL',
       'IPI-OUTROS PRODUTOS-JUROS DA DÍVIDA ATIVA',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-DIV.ATIVA',
       'CONTR.S/ARREC.FUNDOS INVEST.REGIONAIS-PRINC.',
       'VARIACAO CAMBIAL-PRINCIPAL',
       'BARREIRAS TECNICAS AO COMERCIO EXTERIOR-PRINC',
       'CONTR.REL.DESPED.EMPREG.S/JUSTA CAUSA-PRINC.',
       'CONTR.S/REMUN.DEVIDA AO TRABALHADOR-PRINCIPAL',
       'MULTAS PREV.EM LEG.ESPECIFICA-DIV.AT-MUL.JUR.',
       'IOF-DEMAIS OPERACOES-DIVIDA ATIVA-MUL.JUR.',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-MUL.JUR.',
       'CONTRIB.P/FOMENTO RADIODIFUSAO PUBLICA-PRINC.',
       'OUTRAS OPER.DE CREDITO-MERCADO INTERNO-PRINC.',
       'RESSARCIMENTO AO RGPS-MULTAS E JUROS',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-MULTAS DÍV.AT.',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-PRINCIPAL',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-DEMAIS-PRINC',
       'IRRF-CAPITAL-MULTAS E JUROS',
       'IPI-OUTROS PRODUTOS-MULTAS DA DÍVIDA ATIVA',
       'CONTRIBUIÇÃO PARA O PIN-PRINCIPAL',
       'CONCESSAO DE AVAIS,GARANTIAS E SEGUROS-PRINC.',
       'OUTRAS RECEITAS-PRIMARIAS-DIVIDA ATIVA',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-MUL.JUR.',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-MUL.JUR',
       'ITR-MUNICÍPIOS CONVENIADOS-PRINCIPAL',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-PRINC.',
       'IPI-BEBIDAS-REC.INTRA ORÇAMENTÁRIA',
       'BARREIRAS TECNICAS AO COMERC.EXTERIOR-MUL.JUR',
       'COFINS-MULTAS DA DÍVIDA ATIVA',
       'TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.',
       'IOF-DEMAIS OPERAÇÕES-MULTAS DA DÍVIDA ATIVA',
       'DEL.SERV.TELEC.-POD.CONC.NO REG.PUB.-MUL.JUR.',
       'APORTES PERIOD.P/COMPENSACOES AO RGPS-PRINC.',
       'AMORT.EMPR.-REFIN.DIV.MED.E LONGO PRAZO-PRINC',
       'RESTITUICAO DE GARANTIAS PRESTADAS-PRINCIPAL',
       'PREMIOS PRESCRITOS CONCUR.PROGNOSTICOS-PRINC.',
       'IRRF-TRABALHO-MULTAS DA DÍVIDA ATIVA',
       'ROY.EXC.PETRO.PLAT-COM.ANT.3/12/12-DEM.-PRINC',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS DÍV.AT.',
       'CONTRIBUIÇÃO PARA O ENSINO AEROVIÁRIO-PRINC.',
       'PARTICIPACOES-PRINCIPAL', 'IRPF-MULTAS DA DÍVIDA ATIVA',
       'OUTRAS CONTRIBUIÇÕES SOCIAIS-DÍVIDA ATIVA',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-MUL.JUR',
       'ROYAL.EXCED.PROD.PETRO.TERRA(QQ SIT.)-PRINC.',
       'IPI-OUTROS PRODUTOS-MULTAS E JUROS', 'COFINS-MULTAS E JUROS',
       'IRRF-OUTROS RENDIMENTOS-MULTAS E JUROS',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-JUROS DÍV.ATIVA',
       'REMUN.S/REPASSE P/PROG.DESENV.ECONOMICO-PRINC',
       'IMPOSTO SOBRE A IMPORTAÇÃO-DÍVIDA ATIVA',
       'IRRF-CAPITAL-PRINCIPAL',
       'CIDE-COMBUSTIVEIS-IMPORTACAO-MULTAS E JUROS',
       'CONTRIBUIÇÃO PARA O PROTERRA-PRINCIPAL',
       'IMPOSTO SOBRE A IMPORTACAO-MULTAS E JUROS',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-DIV.AT.',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-MUL.JUR',
       'IPI-OUTROS PRODUTOS-DÍVIDA ATIVA',
       'AMORTIZ.PROV.EXEC.DE GARANTIA-OP.CRED.-PRINC.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-PRINCIPAL',
       'CIDE COMBUSTIVEIS-COMERCIALIZACAO-MUL.JUR.',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS E JUROS',
       'OUTRAS CONTRIBUICOES ECONOMICAS-MULTAS/JUROS',
       'CONCESSAO AVAIS,GARANTIAS E SEGUROS-MUL.JUR.',
       'IOF-DEMAIS OPERAÇÕES-PRINCIPAL',
       'CONTRIBUIÇÕES PARA O RGPS-MULTAS DÍVIDA ATIVA',
       'CONTRIB.SOCIAL DO SALARIO-EDUCACAO-MUL.JUR.',
       'AMORT.EMPREST.-PROG.OP.OFICIAIS CRED.-PRINC.',
       'IRRF-TRABALHO-DÍVIDA ATIVA',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-DÍVIDA ATIVA',
       'IRRF-TRABALHO-DIVIDA ATIVA-MULTAS E JUROS', 'IPI-BEBIDAS',
       'IRRF-REMESSA AO EXTERIOR-INTRA ORÇAMENTÁRIA',
       'IMPOSTO SOBRE A IMPORTAÇÃO-PRINCIPAL',
       'IMPOSTO SOBRE A EXPORTAÇÃO-DÍV.AT.-MUL.JUR.',
       'CONT.MOV.TRANSM.VAL.CR.DIR.FIN-MULTAS DÍV.AT.',
       'CONTRIBUICAO PARA O PIS/PASEP-DIV.AT-MUL.JUR.',
       'CONTR.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-PRINC.',
       'CONTRIB.SOC.S/LUCRO LÍQ.-CSLL-MULTAS DÍV.AT.',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-MUL.JUR',
       'CIDE-REMESSAS AO EXTERIOR-MULTAS E JUROS',
       'RESTITUIÇÃO DESPESAS DE EXERCÍCIOS ANTERIORES',
       'TX.CONTROLE E FISCALIZ.PROD.QUÍMICOS-PRINC.',
       'CONT.P/ENT.PRIV.SERV.SOC.E FORM.PROFIS.-PRINC',
       'CIDE-REMESSAS AO EXTERIOR-DIVIDA ATIVA',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.INT.-PRINC',
       'ALIENACAO DE TITULOS MOBILIARIOS-PRINCIPAL',
       'IPI-AUTOMÓVEIS-MULTAS E JUROS',
       'IPI-BEBIDAS-MULTAS E JUROS-INTRA ORÇAMENTÁRIA',
       'IRRF-TRABALHO-MULTAS E JUROS',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-DÍV.AT.',
       'IRPF-DIVIDA ATIVA-MULTAS E JUROS',
       'CONTR.LOJ.FR.ENTREP.ADUAN.DEP.ALFAND.-PRINC.',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-MUL.JUR.',
       'CIDE-COMBUST.-COMERCIALIZACAO-JUROS DÍV.ATIVA',
       'ROYALT.PROD.PETRO.EM TERRA-CONCESSAO-PRINC.',
       'AMORTIZACAO DE EMPRESTIMOS-EST/MUN-MUL.JUR.',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA-MUL.JUR.',
       'CIDE-COMBUST.-COMERCIALIZACAO-MULTAS DÍV.AT.',
       'CONTRIBUIÇÕES PARA O RGPS-JUROS DÍVIDA ATIVA',
       'TX.PELA PRESTAÇÃO DE SERVIÇOS-DÍV.AT-MUL.JUR.',
       'RESTIT.BENEFICIOS NAO DESEMBOLSADOS-PRINCIPAL',
       'DEL.SERV.RADIODIF.SONORA E SOM/IMAGEM-PRINC.', 'IRPF-PRINCIPAL',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS E JUROS',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-DEMAIS-PRINC',
       'ROYAL.PETRO.PLAT.-COM.A PARTIR 3/12/12-PRINC.',
       'CONTRIBUIÇÕES P/O RGPS-MULTAS E JUROS',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-PRINC.',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-MUL.JUR.',
       'CONTR.PENSIONISTA P/RPPS ORIG SENT.JUD-PRINC.',
       'COTA-PARTE DA CONTRIBUICAO SINDICAL-MUL.JUR.',
       'OUTRAS CONTRIBUIÇÕES SOCIAIS-PRINCIPAL',
       'CONTRIB.SOC.S/LUCRO LÍQ.-CSLL-JUROS DÍV.ATIVA',
       'CONTRIB.SERV.ATIVO P/RPPS-SENT.JUD.-PRINC.',
       'COFINS-DIVIDA ATIVA-MULTAS E JUROS',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.EXT.-PRINC',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS E JUROS',
       'CIDE-COMBUSTÍVEIS-COMERCIALIZAÇÃO-PRINCIPAL',
       'RESULTADO DO BACEN-DEMAIS OPERACOES-PRINCIPAL',
       'CONTRIBUICAO PARA O PIS/PASEP-PRINCIPAL',
       'COTA-PARTE DA CONTRIBUIÇÃO SINDICAL-PRINCIPAL',
       'IPI-VINCULADOS À IMPORTAÇÃO-PRINCIPAL',
       'IPI-VINCULADOS À IMPORTAÇÃO-MULTAS E JUROS',
       'CIDE-COMBUSTIVEIS-COMERCIALIZACAO-DIV.ATIVA',
       'CONTRIBUICAO AO MONTEPIO CIVIL-PRINCIPAL',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-DIV.AT.',
       'IOF-OURO-MULTAS E JUROS', 'IRPF-MULTAS E JUROS',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-MUL.JUR.',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-JUROS DÍV.AT.',
       'COTA-PARTE DO AFRMM-MULTAS DA DÍVIDA ATIVA',
       'MULTAS PREV.NA LEI GERAL DAS TELECOM.-DIV.AT.',
       'CIDE-COMBUSTÍVEIS-IMPORTAÇÃO-PRINCIPAL',
       'IRPJ-LÍQUIDA DE INCENTIVOS-JUROS DÍV.ATIVA',
       'ROY.EXC.PETRO.PLAT-CM.ANT.3/12/12-P.SAL-PRINC',
       'P.ESP.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC.',
       'PART.ESP.PETRO.TERRA(QQ SIT)-CONCESSAO-PRINC.',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-P.SAL-PRINC.',
       'ROY.EXC.PETR.PLAT-CESS.-COM.A P.3/12/12-PRINC',
       'CONTRIBUIÇÕES P/O RGPS-PRINCIPAL',
       'REMUNERACAO DE DEPOSITOS ESPECIAIS-PRINCIPAL',
       'TAXA DE FISCALIZAÇÃO DE INSTALAÇÃO-PRINCIPAL',
       'ALIENACAO DE BENS INTANGIVEIS-PRINCIPAL',
       'IRRF-TRABALHO-JUROS DA DÍVIDA ATIVA',
       'COFINS-JUROS DA DÍVIDA ATIVA',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-DIV.AT.',
       'MUL.PREV.LEG.S/REG.PREV.PRIV.COMPLEM.-DIV.AT.',
       'MUL.PREV.LEG.S/REG.PREV.PRIV.COMPLEM.-PRINC.',
       'MUL.PREV.LEG.S/REG.PREV.PRIV.COMPLEM.-MUL.JUR',

Los 10 DETALLE que MAS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    29841                15.67
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL             13745                 7.22
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL  13636                 7.16
RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.  11981                 6.29
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    9473                 4.97
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             6144                 3.23
OUTRAS RESTITUICOES-PRINCIPAL                   5726                 3.01
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    5213                 2.74
OUTROS RESSARCIMENTOS-PRINCIPAL                 4721                 2.48
RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL    4208                 2.21

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
CIDE-COMBUSTIVEIS-IMPORTACAO-DIVIDA ATIVA          1                 0.00
IMPOSTO SOBRE A IMPORTACAO-DIV.AT.-MUL.JUR.        1                 0.00
RESTITUIÇÃO DE BENEFÍCIOS PREVIDENCIÁRIOS          1                 0.00
RESTITUIÇÃO DE CONVÊNIOS - PRIMÁRIAS               1                 0.00
MULTAS PREV.LEG.S/DEF.DIR.DIFUS.DIV AT-MUL JU      1                 0.00
CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.      1                 0.00
MULTAS PREV.LEG.S/DEFESA DIR.DIFUSOS-DIV ATIV      1                 0.00
CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-MUL.JUR      1                 0.00
TAXAS INSPECAO,CONTROLE E FISCALIZ.-MUL.JUR.       1                 0.00
TAXA DE FISCALIZACAO DE FUNCIONAMENTO-MUL.JUR      1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
1         32          6.20
36        27          5.23
2         21          4.07
13        18          3.49
54        16          3.10
...      ...           ...
63         1          0.19
66         1          0.19
20         1          0.19
29         1          0.19
21         1          0.19

[197 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 1827 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 6.18478200e+06, 1.90043543e+09, ...,
       1.34018339e+08, 6.71722960e+07, 4.60839000e+05])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                             count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        188589                99.01
17125146.00                      4                 0.00
1000000.00                       4                 0.00
7812351.00                       3                 0.00
19264302.00                      2                 0.00
5136971.00                       2                 0.00
49471218.00                      2                 0.00
100000.00                        2                 0.00
2520000.00                       2                 0.00
3000000.00                       2                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
1819584.00                      1                 0.00
325716.00                       1                 0.00
4302315.00                      1                 0.00
30368.00                        1                 0.00
196471.00                       1                 0.00
2426.00                         1                 0.00
9331.00                         1                 0.00
565928.00                       1                 0.00
372471.00                       1                 0.00
244596.00                       1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

        count  % repetición
count
1        1767         96.72
2          56          3.07
4           2          0.11
188589      1          0.05
3           1          0.05

None
La categoría VALOR_REGISTRADO tiene 1043 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00,  5.91582000e+03,  3.66572200e+04, ...,
       -3.00000000e+00,  9.00000000e+02,  5.07434478e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                   count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              189434                99.45
5915.82                2                 0.00
0.09                   2                 0.00
0.11                   2                 0.00
4960915.37             1                 0.00
4826200.91             1                 0.00
44771661.72            1                 0.00
1634470671.36          1                 0.00
90005153.21            1                 0.00
1800.00                1                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
35.39                 1                 0.00
971.95                1                 0.00
1589.57               1                 0.00
1402.39               1                 0.00
1447.43               1                 0.00
1115.68               1                 0.00
5731.56               1                 0.00
4920.76               1                 0.00
-5915.82              1                 0.00
96677.57              1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

        count  % repetición
count
1        1039         99.62
2           3          0.29
189434      1          0.10

None
La categoría VALOR_REALIZADO tiene 128532 elementos diferentes:

Los elementos de la categoría son:

array([ 198.  , 2093.5 , 9329.4 , ..., 1564.91,  439.2 ,   45.31])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00              2800                 1.47
100.00             664                 0.35
50.00              555                 0.29
20.00              538                 0.28
200.00             527                 0.28
30.00              496                 0.26
60.00              493                 0.26
150.00             472                 0.25
300.00             463                 0.24
10.00              462                 0.24

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
1411.03              1                 0.00
121637.11            1                 0.00
4115017.41           1                 0.00
2477.55              1                 0.00
42381.15             1                 0.00
508.25               1                 0.00
2072.27              1                 0.00
3254.46              1                 0.00
802.75               1                 0.00
13701.24             1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

        count  % repetición
count
1      115236         89.66
2        7151          5.56
3        2330          1.81
4        1118          0.87
5         613          0.48
...       ...           ...
43          1          0.00
57          1          0.00
59          1          0.00
61          1          0.00
56          1          0.00

[140 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 24 elementos diferentes:

Los elementos de la categoría son:

array([  0.,   4.,   7., 742.,   2.,   1.,   3.,   9.,   6.,  82.,   5.,
        13.,  71., 103.,  24., 257.,  18.,   8.,  22.,  10.,  61.,  54.,
        16.,  15.])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                       count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  190295                99.90
1.00                      70                 0.04
2.00                      46                 0.02
3.00                      26                 0.01
4.00                      11                 0.01
6.00                       5                 0.00
5.00                       3                 0.00
7.00                       3                 0.00
22.00                      2                 0.00
9.00                       2                 0.00

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
71.00                     1                 0.00
82.00                     1                 0.00
257.00                    1                 0.00
24.00                     1                 0.00
18.00                     1                 0.00
10.00                     1                 0.00
61.00                     1                 0.00
54.00                     1                 0.00
16.00                     1                 0.00
15.00                     1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

        count  % repetición
count
1          12         50.00
2           4         16.67
3           2          8.33
190295      1          4.17
70          1          4.17
11          1          4.17
26          1          4.17
46          1          4.17
5           1          4.17

None
La categoría FECHA_REGISTRO tiene 365 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2017-08-29 00:00:00', '2017-02-10 00:00:00', '2017-11-27 00:00:00',
 '2017-11-13 00:00:00', '2017-05-03 00:00:00', '2017-02-13 00:00:00',
 '2017-08-22 00:00:00', '2017-12-01 00:00:00', '2017-10-10 00:00:00',
 '2017-12-28 00:00:00',
 ...
 '2017-03-05 00:00:00', '2017-03-12 00:00:00', '2017-10-08 00:00:00',
 '2017-08-06 00:00:00', '2017-07-16 00:00:00', '2017-07-23 00:00:00',
 '2017-04-23 00:00:00', '2017-01-22 00:00:00', '2017-06-18 00:00:00',
 '2017-03-19 00:00:00']
Length: 366, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2017-01-19       2111                 1.11
2017-08-31       1308                 0.69
2017-10-31       1305                 0.69
2017-07-31       1288                 0.68
2017-03-31       1284                 0.67
2017-01-31       1241                 0.65
2017-05-31       1241                 0.65
2017-11-30       1224                 0.64
2017-06-30       1179                 0.62
2017-09-29       1095                 0.57

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2017-03-05          1                 0.00
2017-09-24          1                 0.00
2017-03-12          1                 0.00
2017-10-08          1                 0.00
2017-07-16          1                 0.00
2017-07-23          1                 0.00
2017-04-23          1                 0.00
2017-01-22          1                 0.00
2017-06-18          1                 0.00
2017-03-19          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
1         38         10.41
2         16          4.38
5          7          1.92
676        5          1.37
11         5          1.37
...      ...           ...
281        1          0.27
291        1          0.27
13         1          0.27
18         1          0.27
14         1          0.27

[189 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2017])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2017           190479               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2017           190479               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
190479      1        100.00

None

In [13]:
df_datos_2017.to_pickle("../datos/output/datos_2017_convertido.pkl")